{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">菜单管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-table-tool-temp">
        <button lay-event="btn-refresh" class="layui-btn layui-btn-sm yzn-btn-primary btn-refresh" data-table-refresh="currentTable"><i class="iconfont icon-loop-left-line"></i></button>
        <button lay-event="btn-add" class="layui-btn layui-btn-sm {:$auth->check('auth.rule/add')?'':'layui-hide'}" href="{:url('add')}" title="添加"><i class="iconfont icon-add-line"></i>&nbsp;新增后台菜单</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" id="openAll"><i class="iconfont icon-add-fill"></i>&nbsp;展开或折叠全部</button>
    </div>
</script>
{/block}