@charset "utf-8";
::-webkit-scrollbar {width: 6px; }
::-webkit-scrollbar-button {display: none; }
::-webkit-scrollbar-track {background-color: #ddd; }
::-webkit-scrollbar-track-piece {background-color: #f3f3f3; -webkit-border-radius: 3px; }
::-webkit-scrollbar-thumb {background-color: #ccc; border: solid 1px #c0c0c0; border-radius: 3px; }
::-webkit-scrollbar-corner {background-color: #f3f3f3; }
::-webkit-resizer {background-repeat: no-repeat; background-position: bottom right; }
::-webkit-scrollbar-thumb:hover {background-color: #bbb; }
.w50{width:50px!important;}
.w100{width:100px!important;}
.w200{width:200px!important;}
.w300{width:300px!important;}
.w400{width:400px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.text-danger {color: #d26a5c; }
.text-info {color: #70b9eb; }
.text-warning {color: #f3b760; }
.text-success {color: #46c37b; }
.text-primary {color: #5c90d2; }
.text-center {text-align: center !important; }
code {padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }
.childrenBody {padding: 15px;background-color: #F2F2F2;}
.is-dialog .layer-footer {display: none;}
.panel_box{ margin-bottom:5px;}
.panel{ text-align:center; height:90px;}
.panel_box a{display:block;overflow:hidden; height:80px;background: #fff;    border: 1px solid #eee;}
.panel_icon{ width:40%; display: inline-block; line-height:80px; float:left; position:relative; height:100%;}
.panel_icon i{ font-size:40px !important; color:#fff; display: inline-block;}
.panel_word{ width:60%; display: inline-block; float:right; margin:13px 0 14px; }
.panel_word span{ font-size:25px; display:block; height:34px; }
.panel .loginTime{ font-size:15px; color:#1E9FFF; line-height:34px;}
.panel em{ font-style:normal;}
/*.layui-table-view{overflow: auto;}*/
.layui-form-field-label{display: block; padding:3px 0px; font-weight: 400; line-height: 20px;position: relative;}
.layui-tab-content {padding: 10px;}
.layui-table .layui-btn+.layui-btn {margin-left: 5px;}

.layui-table-tool .yzn-btn-primary{color: #fff; background-color: #2c3e50; }
.layui-table-tool .layui-btn-sm i {font-size: 14px !important;}
.layui-table-tool .layui-btn + .layui-btn {margin-left: 2px !important;}

.editor_tool .layui-btn+.layui-btn {margin-left: 0px;}
.editor_tool .layui-form-checkbox {margin-right: 0px;}

.yzn-bg-green {background: -moz-linear-gradient(top,#73D08D,#5FB878); background: -o-linear-gradient(top,#73D08D,#5FB878); background: -ms-linear-gradient(top,#73D08D,#5FB878); background: -webkit-linear-gradient(top,#73D08D,#5FB878); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#73D08D,endColorstr=#5FB878); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#73D08D,endColorstr=#5FB878)"; box-shadow: 0 3px 14px 2px #CFF8DB }
.yzn-bg-blue {background: -moz-linear-gradient(top,#65b8f5,#1898f7); background: -o-linear-gradient(top,#65b8f5,#1898f7); background: -ms-linear-gradient(top,#65b8f5,#1898f7); background: -webkit-linear-gradient(top,#65b8f5,#1898f7); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#30A1F5,endColorstr=#1E9FFF); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#30A1F5,endColorstr=#1E9FFF)"; box-shadow: 0 3px 14px 2px #CEE8FC }
.yzn-bg-red {background: -moz-linear-gradient(top,#F86738,#FF5722); background: -o-linear-gradient(top,#F86738,#FF5722); background: -ms-linear-gradient(top,#F86738,#FF5722); background: -webkit-linear-gradient(top,#F86738,#FF5722); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F86738,endColorstr=#FF5722); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#F86738,endColorstr=#FF5722)"; box-shadow: 0 3px 14px 2px #FFE4DB }
.yzn-bg-orange {background: -moz-linear-gradient(top,#ff8c67,#FF5722); background: -o-linear-gradient(top,#ff8c67,#FF5722); background: -ms-linear-gradient(top,#ff8c67,#FF5722); background: -webkit-linear-gradient(top,#ff8c67,#FF5722); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFC93B,endColorstr=#FFB800); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#FFC93B,endColorstr=#FFB800)"; box-shadow: 0 3px 14px 2px #FFD4E0 }
.yzn-bg-purple {background: -moz-linear-gradient(top,#CB5DEF,#9825D1); background: -o-linear-gradient(top,#CB5DEF,#9825D1); background: -ms-linear-gradient(top,#CB5DEF,#9825D1); background: -webkit-linear-gradient(top,#CB5DEF,#9825D1); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CB5DEF,endColorstr=#9825D1); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#CB5DEF,endColorstr=#9825D1)"; box-shadow: 0 3px 14px 2px #F1D0FD }

/**弹出层样式*/
.layui-layer-yzn .layui-layer-title {background: #2c3e50 !important; color: #fff !important; border-bottom: none; }
.layui-layer-yzn .layui-layer-title ~ .layui-layer-setwin {top: 0px; height: 42px; }
.layui-layer-yzn .layui-layer-title ~ .layui-layer-setwin > a {height: 42px; line-height: 42px; display: inline-block; }
.layui-layer-yzn.layui-layer-border {border: none !important; box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3) !important; }
.layui-layer-yzn.layui-layer-iframe {overflow: visible; }
.layui-layer-yzn .layui-layer-moves {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.layui-layer-yzn .layui-layer-btn {text-align: center !important; padding: 10px !important; background: #ecf0f1; overflow: hidden; }
.layui-layer-yzn .layui-layer-btn a {background-color: #95a5a6; border-color: #95a5a6; color: #fff !important; height: 31px; margin-top: 0; border: 1px solid transparent; }
.layui-layer-yzn .layui-layer-btn .layui-layer-btn0 {background-color: #1E9FFF; border-color: #1E9FFF; }
.layui-layer-yzn .layui-layer-footer {padding: 8px 20px; background-color: #ecf0f1; height: auto; text-align: inherit !important; }
.layui-layer-yzn .layui-layer-setwin > a {background: none !important; }
.layui-layer-yzn .layui-layer-setwin > a cite {display: none; }
.layui-layer-yzn .layui-layer-setwin > a:after {content: "\e625";     font-family: iconfont; font-style: normal; font-weight: normal; text-decoration: inherit; position: absolute; font-size: 18px; color: #fff; margin: 0; z-index: 1;}
.layui-layer-yzn .layui-layer-setwin > a:hover {text-decoration: none !important; background: none !important; }
.layui-layer-yzn .layui-layer-setwin > a:focus {text-decoration: none !important; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-min {display: none; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-min:after {content: "\e61b";}
.layui-layer-yzn .layui-layer-setwin .layui-layer-max {display: none; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-max:after {content: "\e702";content: "\e716";}
.layui-layer-yzn .layui-layer-setwin .layui-layer-maxmin {display: none; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-maxmin:after {content: "\e702";}
.layui-layer-yzn .layui-layer-setwin .layui-layer-close:after {content: "\e636";}
.layui-layer-content {clear: both; }
.layui-layer-yzn-msg {min-width: 100px; }

.fieldlist dd {display: block;margin: 5px 0;}
.fieldlist dd input {display: inline-block;width: 300px;}
.fieldlist dd input:first-child {width: 110px;}
.fieldlist dd ins {width: 110px;display: inline-block;text-decoration: none;font-weight: bold;margin-right: 10px;line-height: 38px;}

.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {border-color: #e6e6e6;}
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {background-color: #f2f2f2;}
.layui-elem-quote{background-color: #f2f2f2;}

.layui-form-label {width: 110px;}
.layui-input-block {margin-left: 140px;max-width:70%;}
.layui-form-mid2{display: block; padding: 9px 0!important; line-height: 20px; margin-right: 10px; padding-left: 140px !important; }
.layui-form-item-required:before {display: inline-block; margin-right: 4px; color: #f5222d; font-size: 14px; font-family: SimSun,sans-serif; line-height: 1; content: "*"; }
.layui-form-item>label.layui-form-label:after {content: ":"; position: relative; top: -.5px;margin-left: 2px;}
.layui-badge {height: 22px;line-height: 22px;}

.layui-input:focus,
.layui-textarea:focus {
  border-color: #5FB878 !important;
  box-shadow: 0 0 0 3px #f0f9eb !important;
}