@charset "utf-8";
.w50{width:50px!important;}
.w100{width:100px!important;}
.w200{width:200px!important;}
.w300{width:300px!important;}
.w400{width:400px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.text-danger {color: #d26a5c; }
.text-info {color: #70b9eb; }
.text-warning {color: #f3b760; }
.text-success {color: #46c37b; }
.text-primary {color: #5c90d2; }
.text-center {text-align: center !important; }
code {padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }
.childrenBody {padding: 15px;background-color: #F2F2F2;}
.is-dialog .layer-footer {display: none;}
.panel_box{ margin-bottom:5px;}
.panel{ text-align:center; height:90px;}
.panel_box a{display:block;overflow:hidden; height:80px;background: #fff;    border: 1px solid #eee;}
.panel_icon{ width:40%; display: inline-block; line-height:80px; float:left; position:relative; height:100%;}
.panel_icon i{ font-size:40px !important; color:#fff; display: inline-block;}
.panel_word{ width:60%; display: inline-block; float:right; margin:13px 0 14px; }
.panel_word span{ font-size:25px; display:block; height:34px; }
.panel .loginTime{ font-size:15px; color:#1E9FFF; line-height:34px;}
.panel em{ font-style:normal;}
/*.layui-table-view{overflow: auto;}*/
.layui-form-field-label{display: block; padding:3px 0px; font-weight: 400; line-height: 20px;position: relative;}
.layui-tab-content {padding: 10px;}
.layui-table .layui-btn+.layui-btn {margin-left: 5px;}

.layui-table-tool .yzn-btn-primary{color: #fff; background-color: #2c3e50; }
.layui-table-tool .layui-btn-sm i {font-size: 14px !important;}
.layui-table-tool .layui-btn + .layui-btn {margin-left: 2px !important;}

.editor_tool .layui-btn+.layui-btn {margin-left: 0px;}
.editor_tool .layui-form-checkbox {margin-right: 0px;}

.yzn-bg-green {background: -moz-linear-gradient(top,#73D08D,#5FB878); background: -o-linear-gradient(top,#73D08D,#5FB878); background: -ms-linear-gradient(top,#73D08D,#5FB878); background: -webkit-linear-gradient(top,#73D08D,#5FB878); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#73D08D,endColorstr=#5FB878); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#73D08D,endColorstr=#5FB878)"; box-shadow: 0 3px 14px 2px #CFF8DB }
.yzn-bg-blue {background: -moz-linear-gradient(top,#65b8f5,#1898f7); background: -o-linear-gradient(top,#65b8f5,#1898f7); background: -ms-linear-gradient(top,#65b8f5,#1898f7); background: -webkit-linear-gradient(top,#65b8f5,#1898f7); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#30A1F5,endColorstr=#1E9FFF); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#30A1F5,endColorstr=#1E9FFF)"; box-shadow: 0 3px 14px 2px #CEE8FC }
.yzn-bg-red {background: -moz-linear-gradient(top,#F86738,#FF5722); background: -o-linear-gradient(top,#F86738,#FF5722); background: -ms-linear-gradient(top,#F86738,#FF5722); background: -webkit-linear-gradient(top,#F86738,#FF5722); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F86738,endColorstr=#FF5722); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#F86738,endColorstr=#FF5722)"; box-shadow: 0 3px 14px 2px #FFE4DB }
.yzn-bg-orange {background: -moz-linear-gradient(top,#ff8c67,#FF5722); background: -o-linear-gradient(top,#ff8c67,#FF5722); background: -ms-linear-gradient(top,#ff8c67,#FF5722); background: -webkit-linear-gradient(top,#ff8c67,#FF5722); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFC93B,endColorstr=#FFB800); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#FFC93B,endColorstr=#FFB800)"; box-shadow: 0 3px 14px 2px #FFD4E0 }
.yzn-bg-purple {background: -moz-linear-gradient(top,#CB5DEF,#9825D1); background: -o-linear-gradient(top,#CB5DEF,#9825D1); background: -ms-linear-gradient(top,#CB5DEF,#9825D1); background: -webkit-linear-gradient(top,#CB5DEF,#9825D1); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CB5DEF,endColorstr=#9825D1); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#CB5DEF,endColorstr=#9825D1)"; box-shadow: 0 3px 14px 2px #F1D0FD }

/**弹出层样式*/
.layui-layer-yzn .layui-layer-title {background: #2c3e50 !important; color: #fff !important; border-bottom: none; }
.layui-layer-yzn .layui-layer-setwin span{color:#fff;}
.layui-layer-yzn .layui-layer-setwin .layui-layer-max:after,.layui-layer-yzn .layui-layer-setwin .layui-layer-max:before {border: 1px solid #fff;background: #2c3e50}
.layui-layer-yzn .layui-layer-setwin .layui-layer-min:before {background-color: #fff;}
.layui-layer-yzn.layui-layer-border {border: none !important; box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3) !important; }
.layui-layer-yzn.layui-layer-iframe {overflow: visible; }
.layui-layer-yzn .layui-layer-moves {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.layui-layer-yzn .layui-layer-btn {text-align: center !important; padding: 10px !important; background: #ecf0f1; overflow: hidden; }
.layui-layer-yzn .layui-layer-btn a {background-color: #95a5a6; border-color: #95a5a6; color: #fff !important; height: 31px; margin-top: 0; border: 1px solid transparent; }
.layui-layer-yzn .layui-layer-btn .layui-layer-btn0 {background-color: #1E9FFF; border-color: #1E9FFF; }
.layui-layer-yzn .layui-layer-footer {padding: 8px 20px; background-color: #ecf0f1; height: auto; text-align: inherit !important; }
.layui-layer-content {clear: both; }
.layui-layer-yzn-msg {min-width: 100px; }

.fieldlist dd {display: block;margin: 5px 0;}
.fieldlist dd input {display: inline-block;width: 300px;}
.fieldlist dd input:first-child {width: 110px;}
.fieldlist dd ins {width: 110px;display: inline-block;text-decoration: none;font-weight: bold;margin-right: 10px;line-height: 38px;}

/*alert*/
.alert {padding: 15px; margin-bottom: 17px; border: 1px solid transparent; border-radius: 3px;}
.alert h4 {font-weight: 600; }
.alert .icon {margin-right: 10px; }
.alert .close {color: #000; opacity: 0.2; filter: alpha(opacity=20); }
.alert .close:hover {opacity: 0.5; filter: alpha(opacity=50); }
.alert a {color: #fff; text-decoration: underline; }
.alert-success {border-color: #15a589; }
.alert-danger, .alert-error {border-color: #e43725; }
.alert-warning {border-color: #e08e0b; }
.alert-info {border-color: #258cd1; }
.alert-primary-light {background-color: #E2E5E8; border-color: #D0D4D8; color: #85878A; }
.alert-primary-light a {color: #787a7d; }
.alert-success-light {background-color: #dff0d8; border-color: #d1eac8; color: #468847; }
.alert-success-light a {color: #3d773e; }
.alert-danger-light, .alert-error-light {background-color: #f2dede; border-color: #ebcdcd; color: #b94a48; }
.alert-danger-light a, .alert-error-light a {color: #a74240; }
.alert-warning-light {background-color: #fcf8e3; border-color: #faf3cd; color: #c09853; }
.alert-warning-light a {color: #b78c43; }
.alert-info-light {background-color: #d9edf7; border-color: #c6e4f3; color: #3a87ad; }
.alert-info-light a {color: #34789a; }

.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {border-color: #e6e6e6;}
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {background-color: #f2f2f2;}
.layui-elem-quote{background-color: #f2f2f2;}

.layui-form-label {width: 110px;}
.layui-input-block {margin-left: 140px;max-width:70%;}
/*即将废弃*/.layui-form-mid2{display: block; padding: 9px 0!important; line-height: 20px; margin-right: 10px; padding-left: 140px !important; }
.layui-form-mid.no-float{float: none !important;margin-left: 140px !important;padding-bottom: 0 !important;}
.layui-form-item-required:before {display: inline-block; margin-right: 4px; color: #f5222d; font-size: 14px; font-family: SimSun,sans-serif; line-height: 1; content: "*"; }
.layui-form-item label.layui-form-label:after {content: ":"; position: relative; top: -.5px;margin-left: 2px;}
.layui-badge {height: 22px;line-height: 22px;}

.layui-btn-disabled, .layui-btn-disabled:active{pointer-events: none; }
.layui-badge-rim, .layui-border, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-input-split, .layui-panel, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
    border-color: #dcdfe6;
}

.file-item.thumbnail .file-panel {position: absolute; width: 100%; height: 30px; line-height: 30px; left: 0; right: 0; top: -30px; background: rgba(0, 0, 0, 0.4); z-index: 3; transition: 400ms ease-in-out; -moz-transition: 400ms ease-in-out; -webkit-transition: 400ms ease-in-out; -o-transition: 400ms ease-in-out; }
.file-item.thumbnail:hover .file-panel {top: 0; transition: 400ms ease-in-out; -moz-transition: 400ms ease-in-out; -webkit-transition: 400ms ease-in-out; -o-transition: 400ms ease-in-out; }
.file-item.thumbnail { width: 100px; margin-right: 10px; text-align: center; display: block; margin-top: 15px; line-height: 100px; background-color: #fff;  display: inline-block;  }
.file-item.thumbnail a{overflow: hidden; display: block;margin-bottom:10px;height: 100px;border: 1px solid #ddd; -webkit-transition: border .2s ease-in-out; -o-transition: border .2s ease-in-out; transition: border .2s ease-in-out;position: relative; padding: 5px;}
.file-item.thumbnail a img {cursor: zoom-in; max-height: 100%; max-width: 100%; display: inline-block; vertical-align: middle; }
.file-item.thumbnail .info {display: none; }
.file-item.thumbnail .file-panel i {font-size: 18px; color: #fff; width: 16px; height: 16px; line-height: 16px; z-index: 5; cursor: pointer; }
.file-item.thumbnail .file-panel i.move-picture {cursor: move; }

@media screen and (max-width: 768px) {
    /*即将废弃*/.layui-form-mid2{padding-left: 0px !important; }
    .layui-form-label {width: auto;float: none;text-align: left;padding: 9px 0px;}
    .layui-input-block {margin-left: 0;max-width:100%;}
    .layui-form-item .layui-input-inline {margin: 0 0 10px 0 !important;}
    .layui-form-item .layui-input-inline+.layui-form-mid {margin-left: 0 !important;}
    .layui-form-item .layui-form-mid.no-float {margin-left: 0 !important;}
}