@charset "utf-8";
.w50{width:50px!important;}
.w100{width:100px!important;}
.w200{width:200px!important;}
.w300{width:300px!important;}
.w400{width:400px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.text-danger {color: #d26a5c; }
.text-info {color: #70b9eb; }
.text-warning {color: #f3b760; }
.text-success {color: #46c37b; }
.text-primary {color: #5c90d2; }
.text-center {text-align: center !important; }
code {padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }
.childrenBody {padding: 15px;background-color: #F2F2F2;}
.panel_box{ margin-bottom:5px;}
.panel{ text-align:center; height:90px;}
.panel_box a{display:block;overflow:hidden; height:80px;background: #fff;}
.panel_icon{ width:40%; display: inline-block; line-height:80px; float:left; position:relative; height:100%;}
.panel_icon i{ font-size:50px !important; color:#fff; display: inline-block;}
.panel_word{ width:60%; display: inline-block; float:right; margin:13px 0 14px; }
.panel_word span{ font-size:25px; display:block; height:34px; }
.panel .loginTime{ font-size:15px; color:#1E9FFF; line-height:34px;}
.panel em{ font-style:normal;}
.layui-table-view{overflow: auto;}
.layui-form-field-label{display: block; padding:3px 0px; font-weight: 400; line-height: 20px;position: relative;}

.layui-table-tool .yzn-btn-primary{color: #fff; background-color: #2c3e50; }
.layui-table-tool .layui-btn-sm i {font-size: 14px !important;}
.layui-table-tool .layui-btn + .layui-btn {margin-left: 2px !important;}

.editor_tool .layui-btn+.layui-btn {margin-left: 0px;}
.editor_tool .layui-form-checkbox {margin-right: 0px;}

/**弹出层样式*/
.layui-layer-yzn .layui-layer-title {background: #2c3e50 !important; color: #fff !important; border-bottom: none; }
.layui-layer-yzn .layui-layer-title ~ .layui-layer-setwin {top: 0px; height: 42px; }
.layui-layer-yzn .layui-layer-title ~ .layui-layer-setwin > a {height: 42px; line-height: 42px; display: inline-block; }
.layui-layer-yzn.layui-layer-border {border: none !important; box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3) !important; }
.layui-layer-yzn.layui-layer-iframe {overflow: visible; }
.layui-layer-yzn .layui-layer-moves {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.layui-layer-yzn .layui-layer-btn {text-align: center !important; padding: 10px !important; background: #ecf0f1; overflow: hidden; }
.layui-layer-yzn .layui-layer-btn a {background-color: #95a5a6; border-color: #95a5a6; color: #fff !important; height: 31px; margin-top: 0; border: 1px solid transparent; }
.layui-layer-yzn .layui-layer-btn .layui-layer-btn0 {background-color: #1E9FFF; border-color: #1E9FFF; }
.layui-layer-yzn .layui-layer-footer {padding: 8px 20px; background-color: #ecf0f1; height: auto; text-align: inherit !important; }
.layui-layer-yzn .layui-layer-setwin > a {background: none !important; }
.layui-layer-yzn .layui-layer-setwin > a cite {display: none; }
.layui-layer-yzn .layui-layer-setwin > a:after {content: "\e625";     font-family: iconfont; font-style: normal; font-weight: normal; text-decoration: inherit; position: absolute; font-size: 18px; color: #fff; margin: 0; z-index: 1;}
.layui-layer-yzn .layui-layer-setwin > a:hover {text-decoration: none !important; background: none !important; }
.layui-layer-yzn .layui-layer-setwin > a:focus {text-decoration: none !important; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-min {display: none; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-min:after {content: "\e61b";}
.layui-layer-yzn .layui-layer-setwin .layui-layer-max {display: none; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-max:after {content: "\e702";content: "\e716";}
.layui-layer-yzn .layui-layer-setwin .layui-layer-maxmin {display: none; }
.layui-layer-yzn .layui-layer-setwin .layui-layer-maxmin:after {content: "\e702";}
.layui-layer-yzn .layui-layer-setwin .layui-layer-close:after {content: "\e636";}
.layui-layer-content {clear: both; }
.layui-layer-yzn-msg {min-width: 100px; }