@charset "utf-8";
::-webkit-input-placeholder {
    color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
.login-main {width: 400px;margin: auto !important;margin-top: 140px !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow:0 0 30px rgb(0 0 0 / 10%);overflow: hidden;}
.login-main .layui-elip{height: 117px; background-color: #148be4;font-size: 30px; font-weight: 400; font-stretch: normal; letter-spacing: 0; color: #fff; line-height: 117px; text-align: center; overflow: hidden; -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); }
.login-main .layui-elip span.version {font-size: 12px; }
.login-main .layui-elip .bg1 {display: inline-block; width: 74px; height: 74px; background: #fff; opacity: .1; border-radius: 0 74px 0 0; position: absolute; left: 0; top: 43px; }
.login-main .layui-elip .bg2 {display: inline-block; width: 94px; height: 94px; background: #fff; opacity: .1; border-radius: 50%; position: absolute; right: -16px; top: -16px; }
.login-main .layui-form-item{padding:0 20px 20px;}
.login-main form .layui-input-inline,
.login-main form .layui-input-inline button {width: 100%; }
.login-main form .verify-box input {display: inline-block; width: 60%; }
.login-main .layui-elip, .login-main form .layui-input-inline {margin-bottom: 15px; }
.login-main form .layui-input-inline.verify-box {margin-bottom: 5px; }
.login-main form .verify-box img {display: inline-block; margin-left: 2%; width: 36%; height: 38px; }
.login-main .layui-form-item .layui-input {padding-left: 38px; }
.login-main .layui-icon{position: absolute; left: 1px; top: 1px; width: 38px; line-height: 36px; text-align: center; color: #999; }
.login-main .layui-form-checked[lay-skin=primary] i {border-color: #1e9fff!important; background-color: #1e9fff; color: #fff; width: 14px; height: 14px; line-height: 14px; }
.login-main  .layui-form-checkbox[lay-skin=primary] i {width: 14px; height: 14px; line-height: 14px; }
.login-main .layui-form-checkbox[lay-skin=primary]:hover i {border-color: #1e9fff; color: #fff; }
@media screen and (max-width: 450px) {
    .login-main {width: 300px; margin: -150px 0 0 -150px; }
	.login-main .layui-elip {height: 90px; line-height: 90px; }
    .login-main .layui-form-item .layui-input-inline {margin: 0 0 10px 0px; }
    .login-main .layui-elip {font-size: 20px; }
}