{extend name="admin@public/layout" /}
{block name="content"}
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="{:url('position/index')}" title="返回列表"><i class="icon iconfont icon-fanhui"></i></a>
      <div class="subject">
        <h3>推荐位管理</h3>
        <h5>推荐位新增及修改管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
      <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
      <span id="explanationZoom" alt="收起提示" class="itip"></span>
    </div>
    <ul>
      <li>暂无</li>
    </ul>
  </div>
  <!-- 表格 -->
  <div class="table_list">
    <div class="mDiv"><div class="ftitle"><h3>推荐位信息列表</h3><h5></h5></div></div>
    <div class="hDiv">
        <table width="100%">
        <thead>
          <tr>
          <td width="20"><label><input class="check-all" checked="chedked" type="checkbox" value=""></label></td>
          <td width="50"  align="center" class='sort'>排序</td>
          <td width="60" align="center">ID</td>
          <td width="150" class="handle" align="center">操作</td>
          <td width="250" align="center">标题</td>
          <td width="70" align="center">栏目名称</td>
          <td width="150" align="center">发帖时间</td>
          </tr>
        </thead>
        </table>
    </div>

    <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton"><div class="add ajax-post confirm" target-form="ids" url=""><span><i class="icon iconfont icon-shanchu"></i>移出推荐位</span></div></div>
      </div>
      <div style="clear:both"></div>
    </div>

    <div class="bDiv">
      <table width="100%">
      <tbody>
        {volist name="data" id="vo"}
        <tr>
          <td width="20"><input class="ids" checked="chedked" type="checkbox" name="ids[]" value="{$vo.id}-{$vo.modelid}"></td>
          <td width="50"  align="center" class="sort"><span alt="可编辑" column_id="{$vo.catid}-{$vo.id}" fieldname="gc_sort" nc_type="inline_edit" class="itip editable">{$vo['listorder']}</span></td>
          <td width="60"  align="center">{$vo.id}</td>
          <td width="150" align="center" class="handle">
            <a class="btn blue" href="{$vo.data.url}" target="_blank"><i class="icon iconfont icon-lianjie"></i>原文</a>
            <a class="btn blue" onClick="javascript:openwinx('{:url("content/edit",array("catid"=>$vo['catid'],"id"=>$vo['id']  ))}','')" href="javascript:;"><i class="icon iconfont icon-edit"></i>原文编辑</a>
            <a class="btn blue" href=""><i class="icon iconfont icon-zidongxiufu"></i>设置</a>
          </td>
          <td width="250"  align="center">{$vo.data.title}</td>
          <td width="70" align="center">{:getCategory($vo['catid'],'catname')}</td>
          <td width="150" align="center">{$vo.data.inputtime|date="Y-m-d H:i:s",###}</td>
        </tr>
        {/volist}
      </tbody>
      </table>
    </div>
    <div class="pDiv"><div class="pDiv2">{$_page}</div></div>
  </div>
</div>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.edit.js"></script>
<script type="text/javascript">
$(function(){
    $('span[nc_type="inline_edit"]').inline_edit({act: '{:url("position/item_listorder",['posid'=>$posid])}'});
});
</script>
{/block}