{include file="header" /}
<div class="fly-msg" style="margin-bottom: 20px;"> Hi，{$userinfo.username}，你已是我们的正式会员。 </div>
{if $userinfo.vip && $userinfo.overduedate}
<div class="fly-msg" style="margin-bottom: 20px;"> 您当前VIP过期时间为：{$userinfo.overduedate|date='Y-m-d H:i:s'} </div>
{/if}
<div class="layui-row layui-col-space20">
    <div class="layui-col-md12">
        <div class="fly-home fly-panel">
            <img src="{$userinfo.avatar}" alt="{$userinfo.username}">
            {if $userinfo.vip}
            <i class="iconfont icon-vip1" title="VIP会员"></i>
            {/if}
            <h1>{$userinfo.username}<font>({$userinfo.email})</font></h1>
            <p class="fly-home-sign">（这个人懒得留下签名）</p>
            <p class="fly-home-info">
                <i class="iconfont icon-time"></i><span>{$userinfo.reg_time} 加入</span>
            </p>
        </div>
    </div>
    <div class="layui-row layui-col-space20 layui-card-box">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    账户余额
                </div>
                <div class="layui-card-body">
                    <p class="amount">{$userinfo.amount}</p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    积分点数
                </div>
                <div class="layui-card-body">
                    <p class="point">{$userinfo.point}</p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    用户组
                </div>
                <div class="layui-card-body">
                    <p class="groupname">{$userinfo.groupname}</p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    上次登录时间
                </div>
                <div class="layui-card-body">
                    <p class="time">{$userinfo.last_login_time}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="layui" /}
{include file="footer" /}