@charset "utf-8";
#mydiv{padding-top: 5%;}
.login-main {margin: 0 auto;border: 1px solid #ddd;background: #fff;padding: 0 20px; width: 400px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.login-main .layui-elip {margin-top: 10%;height: 35px; line-height: 35px; font-size: 30px; font-weight: 100; text-align: center; }
.login-main .layui-elip span.version {font-size: 12px; }
.login-main form .layui-input-inline,.login-main form .layui-input-inline button{width: 100%; }
.login-main form .verify-box input {display: inline-block; width: 60%; }
.login-main .layui-elip{margin-bottom: 15px; }
.login-main form .verify-box img {display: inline-block; margin-left: 2%; width: 36%; height: 38px; }
.lay-user-jump-change {float: right; }
.lay-link {color: #029789!important; }

.lay-user-login-other>* {display: inline-block; vertical-align: middle; margin-right: 10px; font-size: 14px }
.lay-user-login-other {position: relative; font-size: 0; line-height: 38px; }
.lay-user-login-other .layui-icon {position: relative; top: 2px; font-size: 26px }
.lay-user-login-other a:hover {opacity: .8 }

.layui-form .layui-form-item {position: relative;}
.layui-form .layui-form-item label {position: absolute;left: 1px;top: 1px;width: 38px;line-height: 36px;text-align: center;color: #999;}
.layui-form .layui-form-item input {padding-left: 36px;}

@media screen and (max-width: 450px) {
    .layui-form-item .layui-input-inline {
        margin: 0 0 10px 0px;
    }
    .login-main .layui-elip {
        font-size: 20px;
    }
    .login-main {
        border:none;
    	width: 300px;
        padding: 0 10px;
    }
}