{extend name="admin@index_layout"/}
{block name="main"}
<style type="text/css">
.childrenBody {background: #fff;}
.layui-table img{max-width: 200px;}
</style>
<table class="layui-table" lay-even>
    <colgroup>
        <col width="50">
        <col width="400">
    </colgroup>
    <thead>
        <tr>
            <th>字段</th>
            <th>内容</th>
        </tr>
    </thead>
    <tbody>

        {foreach $data as $key=>$vo }
        <tr>
            <td>{$key}</td>
            <td>{$vo|raw}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
{/block}