{extend name="admin@index_layout"/}
{block name="main"}
<style type="text/css">
.btn-repeat{position: absolute;right: 7px;top: 4px;}
</style>
<form class="layui-form" method="post">
    {include file="admin@inputItem" /}
    {if count($fieldList)}
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    {/if}
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use(['form', 'layer','yznForm'], function() {
    var form = layui.form,
    yznForm = layui.yznForm;

    $(document).on("fa.event.appendfieldlist", ".btn-append", function (e, obj) {
        yznForm.events.faselect(obj);
    });

    {notempty name='cmsConfig.web_site_getwords'}
    GV.ueditor_getwords_url="{:url('addons/getwords/getkeywords',['isadmin'=>1])}";
    $(".content_attr").append('<a class="layui-btn layui-btn-sm" id="getwords" style="margin-top: 4px;">提取关键词</a> ');
    {/notempty}
    $(".content_attr").append("<input type='checkbox' name='modelField[get_introduce]' title='是否截取到内容摘要' checked> <input type='checkbox' name='modelField[auto_thumb]' title='是否提取到缩略图' checked>");
    form.render();
    
    var input =$("input[name='modelField[title]']");
    input.after("<button type='button' class='layui-btn layui-btn-sm btn-repeat'>重复检测</button>");
    $('.btn-repeat').on('click', function(e) {
        $.get("{:url('check_title')}", {'catid':{$catid},'id':{$id},'data':input.val()}, function(res) {
            if(res.code==1){
                layer.msg(res.msg,{icon: 1});
            }else{
                layer.msg(res.msg,{icon: 0});
            }
        })
    });

    yznForm.listen('');
})
</script>
{/block}