{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">添加模型</div>
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" action="{:url('cms/models/add')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">模型名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="模型名称" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">模型中文名称，用于添加栏目时选择使用。</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">模型表键名</label>
                <div class="layui-input-inline">
                    <input type="text" name="tablename" lay-verify="tablename" autocomplete="off" placeholder="模型表键名" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">由纯英文组成</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">模型类型</label>
                <div class="layui-input-inline">
                    <input type="radio" name="type" value="1" title="独立表" checked>
                    <input type="radio" name="type" value="2" title="主附表">
                </div>
                <div class="layui-form-mid layui-word-aux">主附表通过分表提高数据库操作效率</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-inline">
                    <textarea name="description" required lay-verify="required" placeholder="模型的相关描述" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">投稿状态</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="ifsub" lay-skin="switch" lay-text="允许|禁止" value="1">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn ajax-post" lay-submit="" lay-filter="*" target-form="form-horizontal">立即提交</button>
                    <button class="layui-btn layui-btn-normal" onClick="javascript :history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
{/block}