<div class="admincp-map ui-widget-content" nctype="map_nav" style="display:none;" id="draggable" >
  <div class="title ui-widget-header" >
    <h3>管理中心全部菜单</h3>
    <h5>切换显示全部管理菜单，通过点击勾选可添加菜单为管理常用操作项，最多添加10个</h5>
    <span><a nctype="map_off" href="JavaScript:void(0);">X</a></span>
   </div>
  <div class="content">
	<ul class="admincp-map-nav">
	{volist name="__MENU__" id="top_nav"}
	      <li><a href="javascript:void(0);" data-param="map-{$top_nav.id}">{$top_nav.title}</a></li>
	{/volist}
	</ul>
	{volist name="__MENU__" id="top_nav"}
	<div class="admincp-map-div" data-param="map-{$top_nav.id}">
	{present name="top_nav.items"}
	{volist name="top_nav.items" id="left_nav"}
	       <dl>
	       <dt>{$left_nav.title}</dt>
	{present name="left_nav.items"}
	{volist name="left_nav.items" id="map_nav"}
	       <dd class="{if in_array($map_nav.mid, $__ADMIN_PANEL_ID__)}selected{/if}"><a href="javascript:void(0);" data-param="{$map_nav.url}" data-mid="{$map_nav.mid}">{$map_nav.title}</a><i class="fa fa-check-square-o"></i></dd>
	{/volist}
	{/present}
	       </dl>
	{/volist}
	{/present}
	</div>
	{/volist}
  </div>
  <script type="text/javascript">
    // 导航菜单切换
    $('a[data-param^="map-"]').click(function(){
        $(this).parent().addClass('selected').siblings().removeClass('selected');
        $('div[data-param^="map-"]').hide();
        $('div[data-param="' + $(this).attr('data-param') + '"]').show();
    });
    $('div[data-param^="map-"]').find('i').click(function(){
        var $this = $(this);
        var _mid = $this.prev().attr('data-mid');
        if ($this.parent().hasClass('selected')) {
            $.getJSON('{:url("index/common_operations")}', {type : 'del', mid : _mid}, function(data){
                if (data) {
                    $this.parent().removeClass('selected');
                    $('ul[nctype="quick_link"]').find('a[onclick="openItem(\'' + _mid + '\')"]').parent().remove();
                }
            });
        } else {
            var _name = $this.prev().html();
            $.getJSON('{:url("index/common_operations")}', {type : 'add', mid : _mid}, function(data){
                if (data) {
                    $this.parent().addClass('selected');
                    $('ul[nctype="quick_link"]').append('<li><a onclick="openItem(\'' + _mid + '\')" href="javascript:void(0);">' + _name + '</a></li>');
                }
            });
        }
    }).end().find('a').click(function(){
        openItem($(this).attr('data-param'));
    });
  </script>
</div>