<div class="admincp-map ui-widget-content" nctype="map_nav" style="display:none;" id="draggable" >
  <div class="title ui-widget-header" >
    <h3>管理中心全部菜单</h3>
    <h5>切换显示全部管理菜单，通过点击勾选可添加菜单为管理常用操作项，最多添加10个</h5>
    <span><a nctype="map_off" href="JavaScript:void(0);">X</a></span>
   </div>
  <div class="content">
	<ul class="admincp-map-nav">
	{volist name="__MENU__" id="top_nav"}
	      <li><a href="javascript:void(0);" data-param="map-{$top_nav.id}">{$top_nav.title}</a></li>
	{/volist}
	</ul>
	{volist name="__MENU__" id="top_nav"}
	<div class="admincp-map-div" data-param="map-{$top_nav.id}">
	{present name="top_nav.items"}
	{volist name="top_nav.items" id="left_nav"}
	       <dl>
	       <dt>{$left_nav.title}</dt>
	{present name="left_nav.items"}
	{volist name="left_nav.items" id="map_nav"}
	       <dd class="{if in_array($map_nav.menuid, $__ADMIN_PANEL__.ids)}selected{/if}"><a href="javascript:void(0);" data-param="{$map_nav.url}" data-menuid="{$map_nav.menuid}">{$map_nav.title}</a><i class="fa fa-check-square-o"></i></dd>
	{/volist}
	{/present}
	       </dl>
	{/volist}
	{/present}
	</div>
	{/volist}
  </div>
</div>