{extend name="Admin@Public:layout" /}
{block name="content"}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>行为管理</h3>
                <h5>行为标签管理中心</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
            <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
            <span id="explanationZoom" alt="收起提示" class="itip"></span>
        </div>
        <ul>
            <li>行为标签可以很好的扩展网站运营中所需功能！</li>
        </ul>
    </div>
    <!-- 表格 -->
    <div class="table_list">
        <div class="mDiv">
            <div class="ftitle">
                <h3>行为列表</h3>
                <h5></h5></div>
        </div>
        <div class="hDiv">
            <table width="100%">
                <thead>
                    <tr>
                        <td width="150" align="center" class="handle">操作</td>
                        <td width="50" align="center">ID</td>
                        <td width="150" align="center">名称</td>
                        <td width="350" align="center ">描述</td>
                        <td width="50" align="center">类型</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton"><div class="add"><span><i class="icon iconfont icon-tianjia-copy"></i><a href="{:url('addhook')}">添加行为</a></span></div></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv">
            <table width="100%">
                <tbody>
                    {volist name="_list" id="vo"}
                    <tr>
                        <td width="150" align="center">
                            <a class="btn blue" href="{:url('edithook',['id'=>$vo.id])}"><i class="icon iconfont icon-edit"></i>编辑</a>
                            <a class="btn red ajax-get confirm" url="{:url('delhook',['id'=>$vo.id])}"><i class="icon iconfont icon-shanchu"></i>删除</a>
                        </td>
                        <td width="50" align="center">{$vo.id}</td>
                        <td width="150" align="center">{$vo.name}</td>
                        <td width="350" align="center">{$vo.description}</td>
                        <td width="50" align="center">视图</td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}