{extend name="Admin@Public:layout" /}
{block name="content"}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>插件管理</h3>
                <h5>本地插件管理中心</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
            <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
            <span id="explanationZoom" alt="收起提示" class="itip"></span>
        </div>
        <ul>
            <li>插件管理可以很好的扩展网站运营中所需功能！</li>
        </ul>
    </div>
    <!-- 表格 -->
    <div class="table_list">
        <div class="mDiv">
            <div class="ftitle">
                <h3>插件列表</h3>
                <h5></h5></div>
        </div>
        <div class="hDiv">
            <table width="100%">
                <thead>
                    <tr>
                        <td width="190" align="center" class="handle">操作</td>
                        <td width="80" align="center">名称</td>
                        <td width="80" align="center">标识</td>
                        <td width="400" align="center ">描述</td>
                        <td width="50" align="center">状态</td>
                        <td width="50" align="center">作者</td>
                        <td width="50" align="center">版本</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <!--<div class="fbutton"><div class="add ajax-post confirm" target-form="ids" url="{:url('action/remove')}"><span><i class="icon iconfont icon-shanchu"></i>批量删除</span></div></div>
                    <div class="fbutton"><div class="add ajax-get confirm" url="{:url('action/clear')}"><span><i class="icon iconfont icon-yue"></i>删除1个月前的数据</span></div></div>-->
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv">
            <table width="100%">
                <tbody>
                    {volist name="_list" id="vo"}
                    <tr>
                        <td width="190" align="center">
                        {empty name="vo.uninstall"}
                        {present name="vo.config"}
                            <a class="btn blue" href="{:url('config',array('id'=>$vo['id']))}"><i class="icon iconfont icon-shezhi"></i>设置</a>
                        {/present}

                        {eq name="vo.status" value="0"}
                            <a class="btn blue ajax-get confirm" url="{:url('enable',array('id'=>$vo['id']))}"><i class="icon iconfont icon-qiyong"></i>启用</a>
                            {else /}
                            <a class="btn red ajax-get confirm" url="{:url('disable',array('id'=>$vo['id']))}"><i class="icon iconfont icon-jinyong"></i>禁用</a>
                        {/eq}

                            <a class="btn red ajax-get confirm" url="{:url('uninstall?id='.$vo['id'])}"><i class="icon iconfont icon-shanchu"></i>卸载</a>
                        {else /}
                            <a class="btn red" href="{:url('install?addon_name='.$vo['name'])}"><i class="icon iconfont icon-zidongxiufu"></i>安装<a>
                        {/empty}
                    </td>
                    <td width="80" align="center">{$vo.title}</td>
                    <td width="80" align="center">{$vo.name}</td>
                    <td width="400" align="center">{$vo.description}</td>
                    <td width="50" align="center">{$vo.status_text|default="未安装"}</td>
                    <td width="50" align="center">{$vo.author}</td>
                    <td width="50" align="center">{$vo.version}</td>
                  </tr>
               {/volist}
            </tbody>
            </table>
        </div>
    </div>
</div>
{/block}