{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">管理日志</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTable" lay-filter="currentTable" data-auth-delete="{:$auth->check('auth.adminlog/deletelog')}"></table>
    </div>
</div>
{/block}
{block name="script"}
<script>
layui.use('yznTable', function() {
    var table = layui.yznTable;

    var init = {
        table_elem: '#currentTable',
        table_render_id: 'currentTable',
        delete_url: "{:url('deletelog')}",
        detail_url: "{:url('detail')}",
    };

    table.render({
        init: init,
        toolbar: ['refresh',
            [{
                text: '删除一个月前日志',
                url: init.delete_url,
                method: 'request',
                auth: 'delete',
                icon: 'iconfont icon-trash',
                class: 'layui-btn layui-btn-sm layui-btn-danger',
                extend: 'data-table="currentTable"',
            }]
        ],
        url: '{:url("index")}',
        cols: [
            [
                { field: 'id', width: 80, title: 'ID', sort: true },
                { field: 'username', width: 120, title: '用户名' },
                { field: 'title', title: '标题', searchOp: 'like'  },
                { field: 'url', title: '操作URL' },
                { field: 'ip', width: 120, title: 'IP' },
                { field: 'useragent', width: 120, title: 'Browser',templet:function(d){
                        return '<span>' + d.useragent.split(" ")[0] + '</span>';
                    }
                },
                { field: 'create_time', width: 180, title: '时间', search: 'range' },
                { width:80, title: '操作',templet: yznTable.formatter.tool,operat: [
                    [{
                        text: '详情',
                        url: init.detail_url,
                        method: 'open',
                        class: 'layui-btn layui-btn-xs layui-btn-normal',
                    }],
                ]}
            ]
        ],
        page: {}
    });

    yznTable.bindevent();
});
</script>
{/block}