{extend name="Public:layout" /}
{block name="content"}
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
		  <div class="subject">
		    <h3>操作日志</h3>
		    <h5>管理中心管理操作日志内容</h5>
		  </div>
		  <ul class="tab-base nc-row">
		        {include file="public/nav" /}
		  </ul>
		</div>
	</div>
	<!-- 操作说明 -->
	<div class="explanation" id="explanation">
		<div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
			  <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
			  <span id="explanationZoom" alt="收起提示" class="itip"></span>
		</div>
		<ul>
		  <li>系统默认关闭了操作日志，如需开启，请编辑</li>
		  <li>开启操作日志可以记录管理人员的关键操作，但会轻微加重系统负担</li>
		</ul>
	</div>
	<!-- 表格 -->
		<div class="table_list">
		<div class="mDiv"><div class="ftitle"><h3>管理员操作日志列表</h3><h5>(共{$_total}记录)</h5></div></div>
		<div class="hDiv">
		    <table width="100%">
		    <thead>
		      <tr>
            <td width="20"><label><input class="check-all" checked="chedked" type="checkbox" value=""></label></td>
		        <td width="60" align="center">操作</td>
		        <td width="100" align="left">操作人</td>
		        <td width="300" align="left">行为</td>
		        <td width="140" align="center">时间</td>
		        <td width="120" align="center">IP</td>
		      </tr>
		    </thead>
		    </table>
		</div>

		<div class="tDiv">
		  <div class="tDiv2">
		    <div class="fbutton"><div class="add ajax-post confirm" target-form="ids" url="{:url('action/remove')}"><span><i class="icon iconfont icon-shanchu"></i>批量删除</span></div></div>
		    <div class="fbutton"><div class="add ajax-get confirm" url="{:url('action/clear')}"><span><i class="icon iconfont icon-yue"></i>删除1个月前的数据</span></div></div>
		  </div>
		  <div style="clear:both"></div>
		</div>

		<div class="bDiv">
			<table width="100%">
			<tbody>
			    {volist name="_list" id="vo"}
			    <tr>
                    <td width="20"><input class="ids" checked="chedked" type="checkbox" name="ids[]" value="{$vo['id']}"></td>
					<td width="60" align="center"><a class="btn red ajax-get confirm" url="{:url('action/remove',array('ids'=>$vo['id']))}"><i class="icon iconfont icon-shanchu"></i>删除<a></td>
					<td width="100" align="left">{$vo['user_id']|get_username}</td>
					<td width="300" align="left">{$vo['remark']}</td>
					<td width="140" align="center">{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
					<td width="120" align="center">{$vo['action_ip']|long2ip}</td>
				</tr>
			    {/volist}
			</tbody>
			</table>
		</div>
		<div class="pDiv"><div class="pDiv2">{$_page}</div></div>
	</div>
</div>
{/block}