{extend name="Admin@Public:layout" /}
{block name="content"}
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="{:url('links/index')}" title="返回列表"><i class="icon iconfont icon-fanhui"></i></a>
      <div class="subject">
        <h3>链接设置 - 新增分类</h3>
        <h5>友情链接中心管理链接操作</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
      <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
      <span id="explanationZoom" alt="收起提示" class="itip"></span>
    </div>
    <ul>
      <li></li>
    </ul>
  </div>
  <form action="{:url('links/addTerms')}" name="adminForm" id="add_form" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal auth-form">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="name"><em>*</em>分类名称</label>
        </dt>
        <dd class="opt">
          <input type="text"  value="" maxlength="40"  name="name" class="input-txt">
        </dd>
      </dl>
      <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="document.adminForm.submit()">确认提交</a></div>
    </div>
  </form>
</div>
{/block}
