{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">管理员管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="currentTable" lay-filter="currentTable"
                data-auth-add="{:$auth->check('auth.manager/add')}" 
                data-auth-edit="{:$auth->check('auth.manager/edit')}"
                data-auth-delete="{:$auth->check('auth.manager/del')}"></table>
        </div>
    </div>
</div>
{/block}