{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">模块管理</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
    </div>
</div>
<script type="text/html" id="titleTpl">
{{#  if(d.create_time == "" || d.create_time == null || d.create_time == undefined){ }}
    <a class="layui-btn layui-btn-xs" data-open="{:url('install')}?module={{ d.module }}" data-table="currentTable" title="【{{d.name}}】安装">安装</a>
{{#  } else { }}
    {{#  if(d.iscore == 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-open="{:url('uninstall')}?module={{ d.module }}" data-table="currentTable" data-width="400" data-height="250" title="【{{d.name}}】卸载">卸载</a>
    {{#  } }}
{{#  } }}
</script>
<button type="button" class="layui-btn layui-btn-sm" id="local-install" value="离线安装" style="display: none"/>
{/block}
{block name="script"}
<script>
layui.use(['yznTable', 'upload'], function() {
    var table = layui.yznTable,
        $ = layui.$,
        upload = layui.upload;

    var init = {
        table_elem: '#currentTable',
        table_render_id: 'currentTable',
    };

    table.render({
        init: init,
        toolbar: ['refresh',
            [{
               html:'<a class="layui-btn layui-btn-sm" onclick="importFile();"><i class="iconfont icon-upload-fill"></i>&nbsp;本地安装</a>'
            }],
        ],
        url: '{:url("index")}',
        search:false,
        cols: [
            [
                { field: 'name', width: 150, title: '名称' },
                { field: 'module', width: 150, title: '标识' },
                { field: 'introduce', title: '描述' },
                { field: 'create_time', width: 200, title: '安装时间', templet: '<div>{{#  if(d.create_time){ }} {{d.create_time}} {{#  } else { }} / {{#  } }}</div>' },
                { field: 'author', width: 90, title: '作者' },
                { field: 'version', width: 90, title: '版本' },
                { fixed: 'right', width: 80, title: '操作', templet: '#titleTpl' }
            ]
        ]
    });

    importFile=function (){
        $('#local-install').click();
    }

    //执行实例
    var uploadInst = upload.render({
        elem: '#local-install',
        url: '{:url("admin/module/local")}',
        accept: 'file',
        exts: 'zip',
        done: function(res) {
            //上传完毕回调
            layer.alert(res.msg, {}, function(index) {
                if (res.code != 0) {
                    location.reload();
                }else{
                    layer.close(index);
                }
            });
        },
        error: function() {
            //请求异常回调
        }
    });
});
</script>
{/block}