<li class="layui-nav-item">
    <a href="javascript:;"><i class="iconfont icon-systemprompt"></i>&nbsp;短信息</a>
    <dl class="layui-nav-child">
    	<dd><a href="{:url('message/index/send')}"><i class="iconfont icon-circle-line"></i>&nbsp;发消息</a></dd>
        <dd><a href="{:url('message/index/outbox')}"><i class="iconfont icon-circle-line"></i>&nbsp;发件箱</a></dd>
        <dd><a href="{:url('message/index/inbox')}"><i class="iconfont icon-circle-line"></i>&nbsp;收件箱</a></dd>
        <dd><a href="{:url('message/index/group')}"><i class="iconfont icon-circle-line"></i>&nbsp;系统消息</a></dd>
    </dl>
</li>