{extend name="admin@public:layout" /}
{block name="content"}
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
		  <div class="subject">
		    <h3>在线充值</h3>
		    <h5>用户充值及金额管理</h5>
		  </div>
		  <ul class="tab-base nc-row">
		        {include file="admin@public/nav" /}
		  </ul>
		</div>
	</div>
	<!-- 操作说明 -->
	<div class="explanation" id="explanation">
		<div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
		  <h4 class="itip" alt="提示相关设置操作时应注意的要点">操作提示</h4>
		  <span id="explanationZoom" class="itip" alt="收起提示"></span> </div>
		<ul>
		  <li></li>
		</ul>
	</div>
	<!-- 表格 -->
	<form id="export-form" method="post" action="{:url('database/index/export')}">
	<div class="table_list">
		<div class="mDiv"><div class="ftitle"><h3>充值记录</h3><h5></h5></div></div>
		<div class="hDiv">
		    <table width="100%">
		    <thead>
		      <tr>
		        <td width="20"><label><input class="check-all" checked="chedked" type="checkbox" value=""></label></td>
				<td width="150" align="center">表名</td>
				<td width="120" align="center">数据量</td>
				<td width="120" align="center">数据大小</td>
				<td width="150" align="center">创建时间</td>
				<td width="150" align="center">说明</td>
				<td width="150" align="center">备份状态</td>
		      </tr>
		    </thead>
		    </table>
		</div>

		<div class="tDiv">
		  <div class="tDiv2">
		  </div>
		  <div style="clear:both"></div>
		</div>

		<div class="bDiv">
			<table width="100%">
			<tbody>
		      {volist name="_list" id="table"}
		        <tr>
		          <td width="20"><input class="ids" checked="chedked" type="checkbox" name="tables[]" value="{$table.name}"></td>
		          <td width="150" align="center">{$table.name}</td>
		          <td width="120" align="center">{$table.rows}</td>
		          <td width="120" align="center">{$table.data_length|format_bytes}</td>
		          <td width="150" align="center">{$table.create_time}</td>
		          <td width="150" align="center">{$table.comment}</td>
		          <td width="150" align="center" class="info">未备份</td>
		        </tr>
		      {/volist}
			</tbody>
			</table>
		</div>
	</div>
	</form>
</div>
</div>
{/block}