{extend name="index_layout"/}
{block name="main"}
<form class="layui-form" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">父ID</label>
        <div class="layui-input-block">
            <input lay-verify="required" class="layui-input" name="row[pid]" type="number" value="{$data.pid}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">等级</label>
        <div class="layui-input-block">
            <input lay-verify="required" class="layui-input" name="row[level]" type="number" value="{$data.level}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input lay-verify="required" class="layui-input" name="row[name]" type="text" value="{$data.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">拼音</label>
        <div class="layui-input-block">
            <input class="layui-input" name="row[pinyin]" type="text" value="{$data.pinyin}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">首字母</label>
        <div class="layui-input-block">
            <input class="layui-input" name="row[first]" type="text" value="{$data.first}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮编</label>
        <div class="layui-input-block">
            <input class="layui-input" name="row[zip]" type="text" value="{$data.zip}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">经度</label>
        <div class="layui-input-block">
            <input class="layui-input" name="row[lng]" type="text" value="{$data.lng}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">纬度</label>
        <div class="layui-input-block">
            <input class="layui-input" name="row[lat]" type="text" value="{$data.lat}">
        </div>
    </div>
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.listen();
});
</script>
{/block}