{extend name="admin@public/layout" /}
{block name="content"}
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="{:url('category/index')}" title="返回列表"><i class="icon iconfont icon-fanhui"></i></a>
      <div class="subject">
        <h3>栏目分类-新增外部链接</h3>
        <h5>所有前台栏目索引及管理</h5>
      </div>
    </div>
  </div>
  <form name="adminForm" id="add_form" action="{:url('category/edit')}" method="post">
  <div class="ncap-form-default">
  <div nctype="index" class="none">
      <dl class="row">
        <dt class="tit">
          <label for="parentid">上级栏目</label>
        </dt>
        <dd class="opt">
          <select name="info[parentid]" id="parentid" class="valid">
            <option value="0" >≡ 作为一级栏目 ≡</option>
            {$category}
          </select>
          <span class="err"></span>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <em>*</em><label for="catname">栏目名称</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="info[catname]" value="{$data.catname}" />
          <span class="err"></span>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="description">栏目简介</label>
        </dt>
        <dd class="opt">
          <textarea name="info[description]" rows="6" class="tarea" >{$data.description}</textarea>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <em>*</em><label for="catname">链接地址</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="info[url]" value="{$data.url}" />
          <span class="err"></span>
        </dd>
      </dl>
  </div>
  <input name="type" type="hidden" value="2">
  <input name="catid" type="hidden" value="{$data.catid}">
  <div class="fix-bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="document.adminForm.submit()">确认提交</a></div>
  </div>
  </form>
</div>
{/block}