@font-face {
  font-family: "iconfont"; /* Project id 349449 */
  src: url('iconfont.woff2?t=1720506757106') format('woff2'),
       url('iconfont.woff?t=1720506757106') format('woff'),
       url('iconfont.ttf?t=1720506757106') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-fill:before {
  content: "\ec97";
}

.icon-search-line:before {
  content: "\ec98";
}

.icon-question-fill:before {
  content: "\ec92";
}

.icon-question-line:before {
  content: "\ec93";
}

.icon-alert-fill:before {
  content: "\ec30";
}

.icon-alert-line:before {
  content: "\ec31";
}

.icon-battery-2-charge-fill:before {
  content: "\e8ee";
}

.icon-battery-2-charge-line:before {
  content: "\e8ef";
}

.icon-computer-fill:before {
  content: "\e8fc";
}

.icon-computer-line:before {
  content: "\e8fd";
}

.icon-cpu-fill:before {
  content: "\e8fe";
}

.icon-cpu-line:before {
  content: "\e8ff";
}

.icon-dashboard-3-fill:before {
  content: "\e900";
}

.icon-dashboard-3-line:before {
  content: "\e901";
}

.icon-instance-line:before {
  content: "\e912";
}

.icon-instance-fill:before {
  content: "\e914";
}

.icon-server-fill:before {
  content: "\e930";
}

.icon-server-line:before {
  content: "\e933";
}

.icon-bookmark-fill:before {
  content: "\e7ec";
}

.icon-bookmark-line:before {
  content: "\e7ef";
}

.icon-price-tag-3-fill:before {
  content: "\ea44";
}

.icon-price-tag-3-line:before {
  content: "\ea45";
}

.icon-bus-fill:before {
  content: "\eb09";
}

.icon-bus-line:before {
  content: "\eb0a";
}

.icon-car-fill:before {
  content: "\eb0b";
}

.icon-car-line:before {
  content: "\eb0c";
}

.icon-e-bike-2-fill:before {
  content: "\eb28";
}

.icon-e-bike-2-line:before {
  content: "\eb29";
}

.icon-gas-station-fill:before {
  content: "\eb2a";
}

.icon-gas-station-line:before {
  content: "\eb2b";
}

.icon-train-fill:before {
  content: "\eb5b";
}

.icon-train-line:before {
  content: "\eb5c";
}

.icon-plane-fill:before {
  content: "\eb3a";
}

.icon-plane-line:before {
  content: "\eb3b";
}

.icon-hourglass-fill:before {
  content: "\ec64";
}

.icon-hourglass-line:before {
  content: "\ec65";
}

.icon-menu-add-fill:before {
  content: "\ec80";
}

.icon-menu-add-line:before {
  content: "\ec81";
}

.icon-menu-fill:before {
  content: "\ec82";
}

.icon-menu-line:before {
  content: "\ec83";
}

.icon-lightbulb-flash-line:before {
  content: "\ec17";
}

.icon-lightbulb-line:before {
  content: "\ec18";
}

.icon-plug-fill:before {
  content: "\ec1d";
}

.icon-plug-line:before {
  content: "\ec1e";
}

.icon-scales-3-line:before {
  content: "\ec21";
}

.icon-scales-3-fill:before {
  content: "\ec22";
}

.icon-collapse-diagonal-2-fill:before {
  content: "\e606";
}

.icon-book-shelf-line:before {
  content: "\e607";
}

.icon-collapse-diagonal-2-line:before {
  content: "\e608";
}

.icon-collapse-horizontal-fill:before {
  content: "\e609";
}

.icon-collapse-horizontal-line:before {
  content: "\e60a";
}

.icon-collapse-vertical-fill:before {
  content: "\e60b";
}

.icon-collapse-vertical-line:before {
  content: "\e60c";
}

.icon-expand-diagonal-2-line:before {
  content: "\e60d";
}

.icon-expand-diagonal-2-fill:before {
  content: "\e60e";
}

.icon-expand-horizontal-fill:before {
  content: "\e60f";
}

.icon-expand-horizontal-line:before {
  content: "\e610";
}

.icon-expand-vertical-fill:before {
  content: "\e611";
}

.icon-book-shelf-fill:before {
  content: "\e612";
}

.icon-expand-vertical-line:before {
  content: "\e613";
}

.icon-chat-1-fill:before {
  content: "\e84d";
}

.icon-chat-1-line:before {
  content: "\e84e";
}

.icon-chat-thread-fill:before {
  content: "\e864";
}

.icon-chat-thread-line:before {
  content: "\e865";
}

.icon-javascript-fill:before {
  content: "\e8e3";
}

.icon-javascript-line:before {
  content: "\e8e4";
}

.icon-links-fill:before {
  content: "\e817";
}

.icon-links-line:before {
  content: "\e818";
}

.icon-link-m:before {
  content: "\e9ed";
}

.icon-link-unlink-m:before {
  content: "\e9ee";
}

.icon-external-link-fill:before {
  content: "\ec55";
}

.icon-external-link-line:before {
  content: "\ec56";
}

.icon-loop-left-fill:before {
  content: "\ec7a";
}

.icon-loop-left-line:before {
  content: "\ec7b";
}

.icon-shut-down-fill:before {
  content: "\e931";
}

.icon-shut-down-line:before {
  content: "\e932";
}

.icon-pushpin-fill:before {
  content: "\eb3f";
}

.icon-pushpin-line:before {
  content: "\eb40";
}

.icon-id-card-fill:before {
  content: "\e604";
}

.icon-id-card-line:before {
  content: "\e605";
}

.icon-contacts-book-fill:before {
  content: "\e955";
}

.icon-contacts-book-line:before {
  content: "\e956";
}

.icon-bank-card-fill:before {
  content: "\ea18";
}

.icon-bank-card-line:before {
  content: "\ea19";
}

.icon-lock-unlock-fill:before {
  content: "\ec73";
}

.icon-lock-unlock-line:before {
  content: "\ec74";
}

.icon-collapse-diagonal-fill:before {
  content: "\e600";
}

.icon-collapse-diagonal-line:before {
  content: "\e601";
}

.icon-expand-diagonal-line:before {
  content: "\e602";
}

.icon-expand-diagonal-fill:before {
  content: "\e603";
}

.icon-robot-2-fill:before {
  content: "\ece8";
}

.icon-robot-2-line:before {
  content: "\ece9";
}

.icon-bluetooth-fill:before {
  content: "\e7bc";
}

.icon-bluetooth-line:before {
  content: "\e7bd";
}

.icon-seedling-fill:before {
  content: "\e9f7";
}

.icon-seedling-line:before {
  content: "\e9f8";
}

.icon-sun-foggy-fill:before {
  content: "\ea83";
}

.icon-sun-foggy-line:before {
  content: "\ea84";
}

.icon-thumb-down-fill:before {
  content: "\eab7";
}

.icon-thumb-down-line:before {
  content: "\eab8";
}

.icon-thumb-up-fill:before {
  content: "\eab9";
}

.icon-thumb-up-line:before {
  content: "\eaba";
}

.icon-walk-fill:before {
  content: "\eb16";
}

.icon-walk-line:before {
  content: "\eb17";
}

.icon-wifi-line:before {
  content: "\eb22";
}

.icon-wifi-fill:before {
  content: "\eb23";
}

.icon-windows-fill:before {
  content: "\eb24";
}

.icon-windows-line:before {
  content: "\eb25";
}

.icon-edit-box-fill:before {
  content: "\e7fa";
}

.icon-edit-box-line:before {
  content: "\e7fb";
}

.icon-file-copy-fill:before {
  content: "\e81f";
}

.icon-file-copy-line:before {
  content: "\e820";
}

.icon-folder-2-fill:before {
  content: "\e856";
}

.icon-folder-2-line:before {
  content: "\e857";
}

.icon-hotel-bed-fill:before {
  content: "\e8af";
}

.icon-hotel-bed-line:before {
  content: "\e8b0";
}

.icon-nurse-fill:before {
  content: "\e945";
}

.icon-nurse-line:before {
  content: "\e946";
}

.icon-pantone-fill:before {
  content: "\e953";
}

.icon-pantone-line:before {
  content: "\e954";
}

.icon-restaurant-fill:before {
  content: "\e9c1";
}

.icon-restaurant-line:before {
  content: "\e9c2";
}

.icon-rss-line:before {
  content: "\e9d4";
}

.icon-rss-fill:before {
  content: "\e9d5";
}

.icon-bill-fill:before {
  content: "\e7d3";
}

.icon-bill-line:before {
  content: "\e7d4";
}

.icon-subtract-fill:before {
  content: "\ea79";
}

.icon-subtract-line:before {
  content: "\ea7a";
}

.icon-team-fill:before {
  content: "\eaaa";
}

.icon-team-line:before {
  content: "\eaab";
}

.icon-wallet-fill:before {
  content: "\eb18";
}

.icon-wallet-line:before {
  content: "\eb19";
}

.icon-list-check:before {
  content: "\e7d0";
}

.icon-list-unordered:before {
  content: "\e7d1";
}

.icon-list-ordered:before {
  content: "\e7d2";
}

.icon-reply-fill:before {
  content: "\e6e7";
}

.icon-reply-line:before {
  content: "\e6ea";
}

.icon-send-plane-fill:before {
  content: "\e6eb";
}

.icon-send-plane-line:before {
  content: "\e6ec";
}

.icon-delete-bin-fill:before {
  content: "\e84f";
}

.icon-delete-bin-line:before {
  content: "\e850";
}

.icon-list-settings-line:before {
  content: "\e85c";
}

.icon-list-settings-fill:before {
  content: "\e85d";
}

.icon-terminal-box-fill:before {
  content: "\eaae";
}

.icon-terminal-box-line:before {
  content: "\eaaf";
}

.icon-more-2-line:before {
  content: "\e926";
}

.icon-more-2-fill:before {
  content: "\e927";
}

.icon-more-line:before {
  content: "\e928";
}

.icon-more-fill:before {
  content: "\e929";
}

.icon-emotion-happy-fill:before {
  content: "\e800";
}

.icon-emotion-happy-line:before {
  content: "\e801";
}

.icon-article-fill:before {
  content: "\e76c";
}

.icon-article-line:before {
  content: "\e7cf";
}

.icon-profile-fill:before {
  content: "\e748";
}

.icon-profile-line:before {
  content: "\e749";
}

.icon-arrow-go-forward-fill:before {
  content: "\e763";
}

.icon-arrow-go-forward-line:before {
  content: "\e76a";
}

.icon-image-fill:before {
  content: "\e8b5";
}

.icon-image-line:before {
  content: "\e8bb";
}

.icon-bug-line:before {
  content: "\e785";
}

.icon-bug-fill:before {
  content: "\e787";
}

.icon-attachment-fill:before {
  content: "\e72b";
}

.icon-attachment-line:before {
  content: "\e72c";
}

.icon-check-fill:before {
  content: "\e7c5";
}

.icon-check-line:before {
  content: "\e7c6";
}

.icon-checkbox-circle-fill:before {
  content: "\e7c7";
}

.icon-checkbox-circle-line:before {
  content: "\e7c8";
}

.icon-close-circle-fill:before {
  content: "\e7c9";
}

.icon-close-circle-line:before {
  content: "\e7ce";
}

.icon-indeterminate-circle-fill:before {
  content: "\e8b7";
}

.icon-indeterminate-circle-line:before {
  content: "\e8b8";
}

.icon-information-fill:before {
  content: "\e8b9";
}

.icon-information-line:before {
  content: "\e8ba";
}

.icon-key-2-line:before {
  content: "\e8be";
}

.icon-key-2-fill:before {
  content: "\e8bf";
}

.icon-message-3-fill:before {
  content: "\e913";
}

.icon-message-3-line:before {
  content: "\e915";
}

.icon-play-fill:before {
  content: "\e977";
}

.icon-play-line:before {
  content: "\e978";
}

.icon-question-answer-fill:before {
  content: "\e997";
}

.icon-question-answer-line:before {
  content: "\e998";
}

.icon-save-fill:before {
  content: "\e9e1";
}

.icon-save-line:before {
  content: "\e9e2";
}

.icon-arrow-down-fill:before {
  content: "\e7b9";
}

.icon-arrow-down-line:before {
  content: "\e7ba";
}

.icon-arrow-left-fill:before {
  content: "\e7bf";
}

.icon-arrow-left-line:before {
  content: "\e7c0";
}

.icon-arrow-right-fill:before {
  content: "\e7c1";
}

.icon-arrow-right-line:before {
  content: "\e7c2";
}

.icon-arrow-up-fill:before {
  content: "\e7c3";
}

.icon-arrow-up-line:before {
  content: "\e7c4";
}

.icon-crop-fill:before {
  content: "\e7cc";
}

.icon-crop-line:before {
  content: "\e7cd";
}

.icon-heart-fill:before {
  content: "\e8a9";
}

.icon-heart-line:before {
  content: "\e8aa";
}

.icon-history-fill:before {
  content: "\e8ad";
}

.icon-history-line:before {
  content: "\e8ae";
}

.icon-download-cloud-2-line:before {
  content: "\e7ea";
}

.icon-download-cloud-2-fill:before {
  content: "\e7eb";
}

.icon-upload-cloud-2-fill:before {
  content: "\eae2";
}

.icon-upload-cloud-2-line:before {
  content: "\eae3";
}

.icon-video-fill:before {
  content: "\eb00";
}

.icon-video-line:before {
  content: "\eb01";
}

.icon-arrow-left-s-fill:before {
  content: "\e7ad";
}

.icon-arrow-left-s-line:before {
  content: "\e7ae";
}

.icon-arrow-right-s-fill:before {
  content: "\e7b1";
}

.icon-arrow-right-s-line:before {
  content: "\e7b8";
}

.icon-map-pin-fill:before {
  content: "\e8fa";
}

.icon-map-pin-line:before {
  content: "\e8fb";
}

.icon-settings-4-fill:before {
  content: "\e9fe";
}

.icon-settings-4-line:before {
  content: "\e9ff";
}

.icon-share-fill:before {
  content: "\ea09";
}

.icon-share-line:before {
  content: "\ea0e";
}

.icon-arrow-go-back-line:before {
  content: "\e7ab";
}

.icon-arrow-go-back-fill:before {
  content: "\e7ac";
}

.icon-lock-fill:before {
  content: "\e8df";
}

.icon-lock-line:before {
  content: "\e8e0";
}

.icon-vip-crown-2-fill:before {
  content: "\eb07";
}

.icon-vip-crown-2-line:before {
  content: "\eb08";
}

.icon-close-fill:before {
  content: "\e7af";
}

.icon-close-line:before {
  content: "\e7b0";
}

.icon-men-fill:before {
  content: "\e902";
}

.icon-men-line:before {
  content: "\e903";
}

.icon-flag-2-fill:before {
  content: "\e73f";
}

.icon-flag-2-line:before {
  content: "\e740";
}

.icon-time-line:before {
  content: "\eabd";
}

.icon-time-fill:before {
  content: "\eabe";
}

.icon-volume-up-fill:before {
  content: "\eb14";
}

.icon-volume-up-line:before {
  content: "\eb15";
}

.icon-women-fill:before {
  content: "\eb26";
}

.icon-women-line:before {
  content: "\eb27";
}

.icon-add-fill:before {
  content: "\e7a9";
}

.icon-add-line:before {
  content: "\e7aa";
}

.icon-at-line:before {
  content: "\e7a5";
}

.icon-at-fill:before {
  content: "\e7a6";
}

.icon-medal-fill:before {
  content: "\e7a7";
}

.icon-medal-line:before {
  content: "\e7a8";
}

.icon-vidicon-fill:before {
  content: "\eb05";
}

.icon-vidicon-line:before {
  content: "\eb06";
}

.icon-donut-chart-fill:before {
  content: "\e797";
}

.icon-donut-chart-line:before {
  content: "\e798";
}

.icon-line-chart-fill:before {
  content: "\e799";
}

.icon-line-chart-line:before {
  content: "\e79a";
}

.icon-pie-chart-2-fill:before {
  content: "\e79b";
}

.icon-pie-chart-2-line:before {
  content: "\e79c";
}

.icon-printer-fill:before {
  content: "\e79d";
}

.icon-printer-line:before {
  content: "\e79e";
}

.icon-stack-fill:before {
  content: "\e79f";
}

.icon-stack-line:before {
  content: "\e7a0";
}

.icon-window-fill:before {
  content: "\e7a1";
}

.icon-window-line:before {
  content: "\e7a2";
}

.icon-barcode-line:before {
  content: "\e7a3";
}

.icon-barcode-fill:before {
  content: "\e7a4";
}

.icon-code-s-slash-fill:before {
  content: "\e7b6";
}

.icon-code-s-slash-line:before {
  content: "\e7b7";
}

.icon-coupon-line:before {
  content: "\e7ca";
}

.icon-coupon-fill:before {
  content: "\e7cb";
}

.icon-download-2-line:before {
  content: "\e7e8";
}

.icon-download-2-fill:before {
  content: "\e7e9";
}

.icon-drag-move-2-fill:before {
  content: "\e7ed";
}

.icon-drag-move-2-line:before {
  content: "\e7ee";
}

.icon-eye-close-fill:before {
  content: "\e810";
}

.icon-eye-fill:before {
  content: "\e811";
}

.icon-eye-close-line:before {
  content: "\e812";
}

.icon-eye-line:before {
  content: "\e813";
}

.icon-eye-off-fill:before {
  content: "\e814";
}

.icon-eye-off-line:before {
  content: "\e815";
}

.icon-fingerprint-line:before {
  content: "\e84a";
}

.icon-fingerprint-fill:before {
  content: "\e849";
}

.icon-map-fill:before {
  content: "\e8f1";
}

.icon-map-2-line:before {
  content: "\e8f2";
}

.icon-mini-program-line:before {
  content: "\e91c";
}

.icon-mini-program-fill:before {
  content: "\e91d";
}

.icon-movie-2-fill:before {
  content: "\e92a";
}

.icon-movie-2-line:before {
  content: "\e92b";
}

.icon-music-2-fill:before {
  content: "\e92d";
}

.icon-music-2-line:before {
  content: "\e92e";
}

.icon-notification-3-line:before {
  content: "\e938";
}

.icon-notification-3-fill:before {
  content: "\e939";
}

.icon-notification-4-fill:before {
  content: "\e93a";
}

.icon-notification-4-line:before {
  content: "\e93b";
}

.icon-qr-code-fill:before {
  content: "\e993";
}

.icon-qr-code-line:before {
  content: "\e994";
}

.icon-qr-scan-2-fill:before {
  content: "\e995";
}

.icon-qr-scan-2-line:before {
  content: "\e996";
}

.icon-red-packet-fill:before {
  content: "\e9a9";
}

.icon-red-packet-line:before {
  content: "\e9aa";
}

.icon-riding-fill:before {
  content: "\e9c7";
}

.icon-riding-line:before {
  content: "\e9c8";
}

.icon-rocket-2-fill:before {
  content: "\e9cd";
}

.icon-rocket-2-line:before {
  content: "\e9ce";
}

.icon-shape-2-fill:before {
  content: "\ea03";
}

.icon-shape-2-line:before {
  content: "\ea04";
}

.icon-shape-fill:before {
  content: "\ea05";
}

.icon-shape-line:before {
  content: "\ea06";
}

.icon-shield-keyhole-line:before {
  content: "\ea13";
}

.icon-shield-keyhole-fill:before {
  content: "\ea14";
}

.icon-shopping-bag-fill:before {
  content: "\ea1e";
}

.icon-shopping-bag-line:before {
  content: "\ea1f";
}

.icon-sound-module-fill:before {
  content: "\ea4e";
}

.icon-sound-module-line:before {
  content: "\ea4f";
}

.icon-stock-fill:before {
  content: "\ea72";
}

.icon-stock-line:before {
  content: "\ea73";
}

.icon-t-shirt-fill:before {
  content: "\ea98";
}

.icon-t-shirt-line:before {
  content: "\ea99";
}

.icon-table-fill:before {
  content: "\ea9d";
}

.icon-table-line:before {
  content: "\ea9e";
}

.icon-takeaway-fill:before {
  content: "\eaa1";
}

.icon-takeaway-line:before {
  content: "\eaa2";
}

.icon-taxi-fill:before {
  content: "\eaa8";
}

.icon-taxi-line:before {
  content: "\eaa9";
}

.icon-truck-fill:before {
  content: "\ead3";
}

.icon-truck-line:before {
  content: "\ead4";
}

.icon-zoom-in-line:before {
  content: "\eb2e";
}

.icon-zoom-out-fill:before {
  content: "\eb2f";
}

.icon-zoom-out-line:before {
  content: "\eb30";
}

.icon-zoom-in-fill:before {
  content: "\eb32";
}

.icon-hospital-fill:before {
  content: "\e783";
}

.icon-hospital-line:before {
  content: "\e784";
}

.icon-store-line:before {
  content: "\e786";
}

.icon-store-fill:before {
  content: "\e789";
}

.icon-advertisement-line:before {
  content: "\e78b";
}

.icon-advertisement-fill:before {
  content: "\e78c";
}

.icon-archive-line:before {
  content: "\e78d";
}

.icon-archive-fill:before {
  content: "\e78e";
}

.icon-bar-chart-fill:before {
  content: "\e78f";
}

.icon-bar-chart-grouped-line:before {
  content: "\e790";
}

.icon-bar-chart-2-line:before {
  content: "\e791";
}

.icon-bar-chart-grouped-fill:before {
  content: "\e792";
}

.icon-bar-chart-horizontal-fill:before {
  content: "\e793";
}

.icon-bar-chart-horizontal-line:before {
  content: "\e794";
}

.icon-bubble-chart-fill:before {
  content: "\e795";
}

.icon-bubble-chart-line:before {
  content: "\e796";
}

.icon-qq-fill:before {
  content: "\e991";
}

.icon-qq-line:before {
  content: "\e992";
}

.icon-alipay-fill:before {
  content: "\e781";
}

.icon-alipay-line:before {
  content: "\e782";
}

.icon-translate-2:before {
  content: "\eacd";
}

.icon-translate:before {
  content: "\eace";
}

.icon-baidu-fill:before {
  content: "\e77f";
}

.icon-baidu-line:before {
  content: "\e780";
}

.icon-dingding-fill:before {
  content: "\e7df";
}

.icon-dingding-line:before {
  content: "\e7e0";
}

.icon-github-fill:before {
  content: "\e88e";
}

.icon-github-line:before {
  content: "\e898";
}

.icon-taobao-fill:before {
  content: "\eaa3";
}

.icon-taobao-line:before {
  content: "\eaa4";
}

.icon-wechat-2-fill:before {
  content: "\eb1a";
}

.icon-wechat-2-line:before {
  content: "\eb1b";
}

.icon-wechat-pay-fill:before {
  content: "\eb1c";
}

.icon-wechat-fill:before {
  content: "\eb1d";
}

.icon-wechat-line:before {
  content: "\eb1e";
}

.icon-wechat-pay-line:before {
  content: "\eb1f";
}

.icon-sina-fill:before {
  content: "\eb20";
}

.icon-sina-line:before {
  content: "\eb21";
}

.icon-calendar-2-fill:before {
  content: "\e77b";
}

.icon-calendar-2-line:before {
  content: "\e77c";
}

.icon-calendar-check-fill:before {
  content: "\e77d";
}

.icon-calendar-check-line:before {
  content: "\e77e";
}

.icon-recycle-fill:before {
  content: "\e9a7";
}

.icon-recycle-line:before {
  content: "\e9a8";
}

.icon-money:before {
  content: "\ec70";
}

.icon-upload2-fill:before {
  content: "\e788";
}

.icon-upload2-line:before {
  content: "\e78a";
}

.icon-upload-fill:before {
  content: "\e87c";
}

.icon-upload-line:before {
  content: "\e87d";
}

.icon-tools-fill:before {
  content: "\e744";
}

.icon-tools-line:before {
  content: "\e745";
}

.icon-database-2-line:before {
  content: "\e762";
}

.icon-database-2-fill:before {
  content: "\e770";
}

.icon-file-fill:before {
  content: "\e771";
}

.icon-file-line:before {
  content: "\e772";
}

.icon-file-list-3-fill:before {
  content: "\e773";
}

.icon-file-list-3-line:before {
  content: "\e776";
}

.icon-file-paper-2-fill:before {
  content: "\e777";
}

.icon-file-paper-2-line:before {
  content: "\e778";
}

.icon-file-shield-2-fill:before {
  content: "\e779";
}

.icon-file-shield-2-line:before {
  content: "\e77a";
}

.icon-gift-fill:before {
  content: "\e7b2";
}

.icon-money-cny-box-line:before {
  content: "\e7b3";
}

.icon-gift-line:before {
  content: "\e7b4";
}

.icon-money-cny-box-fill:before {
  content: "\e7b5";
}

.icon-history:before {
  content: "\e674";
}

.icon-history-filling:before {
  content: "\e68a";
}

.icon-file-settings-fill:before {
  content: "\e774";
}

.icon-file-settings-line:before {
  content: "\e775";
}

.icon-user-fill:before {
  content: "\ecd7";
}

.icon-user-line:before {
  content: "\ecda";
}

.icon-shield-user-fill:before {
  content: "\e878";
}

.icon-shield-user-line:before {
  content: "\e879";
}

.icon-user-unfollow-fill:before {
  content: "\e899";
}

.icon-user-unfollow-line:before {
  content: "\e89a";
}

.icon-user-add-fill:before {
  content: "\e88a";
}

.icon-user-add-line:before {
  content: "\e88b";
}

.icon-user-heart-line:before {
  content: "\e88c";
}

.icon-user-heart-fill:before {
  content: "\e88d";
}

.icon-user-shared-2-fill:before {
  content: "\e893";
}

.icon-user-shared-2-line:before {
  content: "\e894";
}

.icon-user-star-fill:before {
  content: "\e895";
}

.icon-user-star-line:before {
  content: "\e896";
}

.icon-mail-add-line:before {
  content: "\e6d7";
}

.icon-mail-check-fill:before {
  content: "\e6d8";
}

.icon-mail-check-line:before {
  content: "\e6d9";
}

.icon-mail-add-fill:before {
  content: "\e6da";
}

.icon-mail-close-line:before {
  content: "\e6db";
}

.icon-mail-download-line:before {
  content: "\e6dc";
}

.icon-mail-close-fill:before {
  content: "\e6de";
}

.icon-mail-fill:before {
  content: "\e6e8";
}

.icon-mail-forbid-fill:before {
  content: "\e6e9";
}

.icon-mail-line:before {
  content: "\e6f1";
}

.icon-mail-forbid-line:before {
  content: "\e6f4";
}

.icon-mail-lock-fill:before {
  content: "\e6f5";
}

.icon-mail-download-fill:before {
  content: "\e6f8";
}

.icon-mail-lock-line:before {
  content: "\e6f9";
}

.icon-mail-open-fill:before {
  content: "\e752";
}

.icon-mail-open-line:before {
  content: "\e753";
}

.icon-mail-send-line:before {
  content: "\e754";
}

.icon-mail-send-fill:before {
  content: "\e756";
}

.icon-mail-settings-line:before {
  content: "\e759";
}

.icon-mail-star-line:before {
  content: "\e75a";
}

.icon-mail-star-fill:before {
  content: "\e75f";
}

.icon-mail-unread-line:before {
  content: "\e760";
}

.icon-mail-unread-fill:before {
  content: "\e766";
}

.icon-mail-volume-line:before {
  content: "\e767";
}

.icon-mail-settings-fill:before {
  content: "\e768";
}

.icon-mail-volume-fill:before {
  content: "\e769";
}

.icon-edit-2-fill:before {
  content: "\e76b";
}

.icon-edit-2-line:before {
  content: "\e76d";
}

.icon-file-code-fill:before {
  content: "\e76e";
}

.icon-file-code-line:before {
  content: "\e76f";
}

.icon-reactjs-line:before {
  content: "\e7dd";
}

.icon-reactjs-fill:before {
  content: "\e7de";
}

.icon-logout-box-line:before {
  content: "\e862";
}

.icon-logout-box-r-line:before {
  content: "\e863";
}

.icon-group-fill:before {
  content: "\e883";
}

.icon-group-line:before {
  content: "\e884";
}

.icon-user-settings-line:before {
  content: "\e891";
}

.icon-user-settings-fill:before {
  content: "\e892";
}

.icon-palette-fill:before {
  content: "\e74d";
}

.icon-palette-line:before {
  content: "\e74e";
}

.icon-git-branch-fill:before {
  content: "\e74f";
}

.icon-git-branch-line:before {
  content: "\e751";
}

.icon-book-2-fill:before {
  content: "\e75b";
}

.icon-book-2-line:before {
  content: "\e75c";
}

.icon-book-open-fill:before {
  content: "\e75d";
}

.icon-book-open-line:before {
  content: "\e75e";
}

.icon-vip-fill:before {
  content: "\e7bb";
}

.icon-vip-line:before {
  content: "\e7be";
}

.icon-equalizer-fill:before {
  content: "\e802";
}

.icon-equalizer-line:before {
  content: "\e803";
}

.icon-draft-fill:before {
  content: "\e764";
}

.icon-draft-line:before {
  content: "\e765";
}

.icon-apps-fill:before {
  content: "\e83c";
}

.icon-apps-line:before {
  content: "\e83d";
}

.icon-alarm-fill:before {
  content: "\e83a";
}

.icon-alarm-line:before {
  content: "\e83b";
}

.icon-circle-fill:before {
  content: "\e847";
}

.icon-circle-line:before {
  content: "\e848";
}

.icon-vip1:before {
  content: "\e6b6";
}

.icon-lianjie:before {
  content: "\e630";
}

