{extend name="Public:layout" /}
{block name="content"}
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="{:url('AuthManager/index')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>权限设置 - {$auth_group['id']?'编辑':'新增'}权限组</h3>
        <h5>管理中心操作权限及分组设置</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span id="explanationZoom" title="收起提示"></span> </div>
      <ul>
        <li>添加权限组，方便添加管理员时使用。</li>
      </ul>
  </div>
  <form action="{:url('AuthManager/writeGroup')}" name="adminForm" id="add_form" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal auth-form">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="admin_name"><em>*</em>权限组</label>
        </dt>
        <dd class="opt">
          <input type="text"  value="{$auth_group.title}" maxlength="40"  name="title" class="input-txt">
          <p class="notic">权限组名称，用于添加管理员时选择使用。</p>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="admin_name">描述</label>
        </dt>
        <dd class="opt">
          <textarea name="description" rows="6" class="tarea" >{$auth_group.description}</textarea>
          <p class="notic">权限的相关描述</p>
        </dd>
      </dl>
      {present name="auth_group.id"}<input type="hidden" name="id" value="{$auth_group.id}" />{/present}
      <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="document.adminForm.submit()">确认提交</a></div>
    </div>
  </form>
</div>
{/block}
