{extend name="admin@index_layout"/}
{block name="main"}
<form class="layui-form" method="post">
    <div class="layui-form-item">
        <input type="text" name="info[subject]" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item">
        <input type="text" name="info[send_to]" required  lay-verify="required" placeholder="请输入收件人账号" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item">
        <textarea name="info[content]" placeholder="请输入内容" lay-verify="required" class="layui-textarea"></textarea>
    </div>
    <div class="layui-form-item layer-footer">
        <button class="layui-btn" lay-submit>立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.listen();
});
</script>
{/block}