{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">插件管理</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
    </div>
</div>
<script type="text/html" id="titleTpl">
{{#  if(d.status >= 0){ }}
    {{#  if(d.config == 1 ){ }}
    <a class="layui-btn layui-btn-xs" href='{:url("config")}?name={{d.name}}'>设置</a>
    {{#  } }}
    {{#  if(d.status == 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" data-request='{:url("state",["action"=>"enable"])}?name={{d.name}}' data-table="currentTable" confirm>启用</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs layui-btn-warm" data-request='{:url("state",["action"=>"disable"])}?name={{d.name}}' data-table="currentTable" confirm>禁用</a>
    {{#  } }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-request='{:url("uninstall")}?name={{d.name}}' data-table="currentTable" data-title="确定卸载【{{d.title}}】，进行该操作？" confirm>卸载</a>
{{#  } else { }}
    <a class="layui-btn layui-btn-xs" data-request='{:url("install")}?name={{d.name}}' data-table="currentTable" data-title="确定安装【{{d.title}}】，进行该操作？" confirm>安装</a>
{{#  } }}
</script>
<button type="button" class="layui-btn layui-btn-sm" id="local-install" value="离线安装" style="display: none"/>
{/block}
{block name="script"}
<script>
layui.use(['yznTable', 'upload'], function() {
    var table = layui.yznTable,
        $ = layui.$,
        upload = layui.upload;

    var init = {
        table_elem: '#currentTable',
        table_render_id: 'currentTable',
    };

    table.render({
        init: init,
        toolbar: ['refresh',
            [{
               html:'<a class="layui-btn layui-btn-sm" onclick="importFile();"><i class="iconfont icon-upload-fill"></i>&nbsp;本地安装</a>'
            }],
        ],
        url: '{:url("index")}',
        search:false,
        cols: [
            [
                { field: 'title', width: 150, title: '名称' },
                { field: 'name', width: 150, title: '标识' },
                { field: 'description', title: '描述' },
                { field: 'author', width: 90, title: '作者' },
                { field: 'version', width: 90, title: '版本' },
                { fixed: 'right', width: 160, title: '操作', templet: '#titleTpl' }
            ]
        ]
    });

    importFile=function (){
        $('#local-install').click();
    }

    //执行实例
    var uploadInst = upload.render({
        elem: '#local-install',
        url: '{:url("addons/addons/local")}',
        accept: 'file',
        exts: 'zip',
        done: function(res) {
            //上传完毕回调
            layer.alert(res.msg, {}, function(index) {
                if (res.code != 0) {
                    location.reload();
                }else{
                	layer.close(index);
                }
            });
        },
        error: function() {
            //请求异常回调
        }
    });
});
</script>
{/block}