{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">插件管理</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
    </div>
</div>
<script type="text/html" id="titleTpl">
{{#  if(d.status >= 0){ }}
    {{#  if(d.config == 1 ){ }}
    <a class="layui-btn layui-btn-xs" href='{:url("config")}?name={{d.name}}'>设置</a>
    {{#  } }}
    {{#  if(d.status == 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" data-request='{:url("state",["action"=>"enable"])}?name={{d.name}}' data-table="currentTable" confirm>启用</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs layui-btn-warm" data-request='{:url("state",["action"=>"disable"])}?name={{d.name}}' data-table="currentTable" confirm>禁用</a>
    {{#  } }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-url='{:url("uninstall")}?name={{d.name}}'>卸载</a>
{{#  } else { }}
    <a class="layui-btn layui-btn-xs" data-url='{:url("install")}?name={{d.name}}'>安装</a>
{{#  } }}
</script>
{/block}
{block name="script"}
<script>
layui.use(['yznTable', 'upload'], function() {
    var table = layui.yznTable,
        $ = layui.$,
        upload = layui.upload;

    var init = {
        table_elem: '#currentTable',
    };

    table.render({
        init: init,
        id: 'currentTable',
        elem: '#currentTable',
        toolbar: ['refresh',
            [{
               html:'<a class="layui-btn layui-btn-sm" id="local-install"><i class="iconfont icon-upload-fill"></i>&nbsp;本地安装</a>'
            }],
        ],
        url: '{:url("index")}',
        cols: [
            [
                { field: 'title', width: 150, title: '名称' },
                { field: 'name', width: 150, title: '标识' },
                { field: 'description', title: '描述' },
                { field: 'author', width: 90, title: '作者' },
                { field: 'version', width: 90, title: '版本' },
                { fixed: 'right', width: 180, title: '操作', templet: '#titleTpl' }
            ]
        ]
    });

    // 监听请求
    $('body').on('click', '[data-url]', function() {
        var url = $(this).data('url');
        yzn.msg.confirm('确定进行该操作？',function() {
            yzn.request.get({
                url: url
            }, function(res) {
                yzn.msg.success(res.msg, function() {
                   location.reload();
                });
            });
        })
        return false;
    });

    //执行实例
    var uploadInst = upload.render({
        elem: '#local-install',
        url: '{:url("addons/addons/local")}',
        accept: 'file',
        exts: 'zip',
        done: function(res) {
            //上传完毕回调
            layer.alert(res.msg, {}, function(index) {
                if (res.code != 0) {
                    location.reload();
                }else{
                	layer.close(index);
                }
            });
        },
        error: function() {
            //请求异常回调
        }
    });
});
</script>
{/block}