<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>YZNCMS后台管理系统</title>
    <meta name="author" content="YZNCMS">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/global.css">
</head>
<style type="text/css">
.layui-tab-content {
    top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}
.layui-show {
    position: relative;
    height: 100%;
    overflow: auto;
}
iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
}
</style>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <a href="#" class="logo">YZNCMS后台</a>
            <!--<ul class="layui-nav mobileTopLevelMenus">
                <li class="layui-nav-item">
                    <a href="javascript:;">导航分类<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">内容管理</a></dd>
                        <dd><a href="javascript:;">用户中心</a></dd>
                        <dd><a href="javascript:;">系统设置</a></dd>
                        <dd><a href="javascript:;">使用文档</a></dd>
                    </dl>
                </li>
            </ul>-->
            <ul class="layui-nav layui-layout-left topLevelMenus" id="J_B_main_block">
                <!--AJAX数据-->
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><a href="javascript:;"><img src="" class="layui-nav-img">贤心</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="navBar layui-side-scroll" id="navBar">
                <ul class="layui-nav layui-nav-tree" id="B_menubar">
                    <!--AJAX数据-->
                </ul>
            </div>
        </div>
        <div class="site-tree-mobile layui-hide">
            <i class="layui-icon">&#xe602;</i>
        </div>
        <div class="site-mobile-shade"></div>
        <div class="layui-body" id="B_frame">
            <ul class="layui-tab-title top_tab" id="B_history">
                <li class="layui-this" lay-id=""><i class="layui-icon">&#xe68e;</i>
                    后台首页
                </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div class="layui-tab-item layui-show">
                    <iframe id="iframe_default" src="{:url('main/index')}" style="height: 100%; width: 100%;display:none;" data-id="default" frameborder="0" scrolling="auto"></iframe>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            © YZNCMS V1.0.0
        </div>
    </div>
    <script src="__STATIC__/layui/layui.js"></script>
    <script type="text/javascript">
    layui.use(['element', 'layer', 'jquery'], function() {
        var $ = layui.jquery;
        var element = layui.element;
        var layer = layui.layer;

        var USUALL = [],
            /*常用的功能模块*/
            TEMP = [],
            /*SUALL = USUALL.concat('-', [{
                title: '最近操作',
                disabled: true
            }], TEMP),*/
            SUBMENU_CONFIG = <?php echo $SUBMENU_CONFIG; ?>,
            /*主菜单区*/
            imgpath = '',
            times = 0,
            getdescurl = '',
            searchurl = '',
            token = "";


        //iframe 加载事件
        var iframe_default = document.getElementById('iframe_default');
        var def_iframe_height = 0;
        $(iframe_default.contentWindow.document).ready(function() {
            /*setTimeout(function() {
                $('#loading').hide();
            }, 500);*/
            $(iframe_default).show();
        });

        //顶部菜单展示
        $(function() {
            var html = [];
            //iframe_height();
            //console.log(SUBMENU_CONFIG);
            $.each(SUBMENU_CONFIG, function(i, o) {
                html.push('<li class="layui-nav-item"><a href="javascript:;" title="' + o.title + '" data-id="' + o.id + '">' + o.title + '</a></li>');
            });
            $('#J_B_main_block').html(html.join(''));
            element.render(); //重新渲染
            //后台位在第一个导航
            $('#J_B_main_block li:first > a').click();
            //维持在线
            setInterval(function() {
                online();
            }, 60000);
        });

        //顶部导航点击
        $('#J_B_main_block').on('click', 'a', function(e) {
            //取消事件的默认动作
            e.preventDefault();
            //终止事件 不再派发事件
            e.stopPropagation();
            $(this).parent().addClass('current').siblings().removeClass('current');
            var data_id = $(this).attr('data-id'),
                data_list = SUBMENU_CONFIG[data_id],
                html = [],
                child_html = [],
                child_index = 0,
                B_menubar = $('#B_menubar');

            if (B_menubar.attr('data-id') == data_id) {
                return false;
            };
            //显示左侧菜单
            //console.log(data_list['items']);
            show_left_menu(data_list['items']);
            B_menubar.html(html.join('')).attr('data-id', data_id);
            element.render(); //重新渲染
            //左侧导航复位
            //$("#B_menunav").css({ "margin-top": "0px" });
            //检查是否应该出现上一页、下一页
            //checkMenuNext();
            //
            //显示左侧菜单
            function show_left_menu(data) {
                for (var attr in data) {
                    if (data[attr] && typeof(data[attr]) === 'object') {
                        //循环子对象
                        if (!data[attr].url && attr === 'items') {
                            //子菜单添加识别属性
                            $.each(data[attr], function(i, o) {
                                child_index++;
                                o.isChild = true;
                                o.child_index = child_index;
                            });
                        }
                        show_left_menu(data[attr]); //继续执行循环(筛选子菜单)
                    } else {
                        if (attr === 'title') {
                            data.url = data.url ? data.url : '#';
                            if (!(data['isChild'])) {
                                //一级菜单
                                html.push('<li class="layui-nav-item"><a href="' + data.url + '" data-id="' + data.id + '"><b>' + data.title + '</b></a>');
                            } else {
                                //二级菜单
                                child_html.push('<dd><a href="' + data.url + '" data-id="' + data.id + '">' + data.title + '</a></dd>');
                                //二级菜单全部push完毕
                                if (data.child_index == child_index) {
                                    html.push('<dl class="layui-nav-child">' + child_html.join('') + '</dl></li>');
                                    child_html = [];
                                }
                            }
                        }
                    }
                }
            };
        });

        //左边菜单点击
        $('#B_menubar').on('click', 'a', function(e) {
            e.preventDefault();
            e.stopPropagation();
            //iframe_height();
            var $this = $(this),
                _dt = $this.parent(),
                _dl = $this.next('dl');
            //$("#B_menubar li").removeClass('current');
            //当前菜单状态
            //_dt.addClass('current').siblings('dt.current').removeClass('current');
            console.log(_dl);
            //子菜单显示&隐藏
            if (_dl.length) {
                //_dt.toggleClass('current');
                //_dl.toggle();
                //检查上下分页
                //checkMenuNext();
                return false;
            };

            //$('#loading').show().focus(); //显示loading
            //$('#B_history li').removeClass('current');
            var data_id = $(this).attr('data-id'),
                li = $('#B_history li[data-id=' + data_id + ']');
            var href = this.href;

            iframeJudge({
                elem: $this,
                href: href,
                id: data_id
            });

        });

        //判断显示或创建iframe
        function iframeJudge(options) {
            var elem = options.elem,
                href = options.href,
                id = options.id,
                li = $('#B_history li[data-id=' + id + ']');

            //如果iframe标签是已经存在的，则显示并让选项卡高亮,并不显示loading
            if (li.length > 0) {
                var iframe = $('#iframe_' + id);
                setTimeout(function() {
                    $('#loading').hide();
                }, 500);
                li.addClass('current');
                if (iframe[0].contentWindow && iframe[0].contentWindow.location.href !== href) {
                    iframe[0].contentWindow.location.href = href;
                }
                $('#B_frame iframe').hide();
                $('#iframe_' + id).show();
                showTab(li); //计算此tab的位置，如果不在屏幕内，则移动导航位置
            } else {
                //创建一个并加以标识
                var iframeAttr = {
                    src: href,
                    id: 'iframe_' + id,
                    frameborder: '0',
                    scrolling: 'auto',
                    height: '100%',
                    width: '100%'
                };
                var iframe = $('<iframe/>').prop(iframeAttr).appendTo('#B_frame .layui-tab-content .layui-show');
                console.log(iframe[0]);

                $(iframe[0].contentWindow.document).ready(function() {
                    $('#B_frame iframe').hide();
                    setTimeout(function() {
                        $('#loading').hide();
                    }, 500);
                    var li = $('<li tabindex="0">' + elem.html() + '<i class="layui-icon layui-unselect layui-tab-close">&#x1006;</i></li>').attr('data-id', id);
                    li.appendTo('#B_history');
                    showTab(li); //计算此tab的位置，如果不在屏幕内，则移动导航位置
                    //$(this).show().unbind('load');
                });
            }
        }

        //显示顶部导航时作位置判断，点击左边菜单、上一tab、下一tab时公用
        function showTab(li) {
            if (li.length) {
                /*var ul = $('#B_history'),
                    li_offset = li.offset(),
                    li_width = li.outerWidth(true),
                    next_left = $('#J_next').offset().left - 9, //右边按钮的界限位置
                    prev_right = $('#J_prev').offset().left + $('#J_prev').outerWidth(true); //左边按钮的界限位置
                if (li_offset.left + li_width > next_left) { //如果将要移动的元素在不可见的右边，则需要移动
                    var distance = li_offset.left + li_width - next_left; //计算当前父元素的右边距离，算出右移多少像素
                    ul.animate({
                        left: '-=' + distance
                    }, 200, 'swing');
                } else if (li_offset.left < prev_right) { //如果将要移动的元素在不可见的左边，则需要移动
                    var distance = prev_right - li_offset.left; //计算当前父元素的左边距离，算出左移多少像素
                    ul.animate({
                        left: '+=' + distance
                    }, 200, 'swing');
                }*/
                li.trigger('click');
            }
        }


        //手机设备的简单适配
        var treeMobile = $('.site-tree-mobile'),
            shadeMobile = $('.site-mobile-shade')
        treeMobile.on('click', function() {
            $('body').addClass('site-mobile');
        });
        shadeMobile.on('click', function() {
            $('body').removeClass('site-mobile');
        });

        //用于维持在线
        function online() {}


    })
    </script>
</body>

</html>