[mysqld]
bind_address      = 0.0.0.0
port              = 3306
datadir           = /var/lib/mysql

server-id         = 1                           # 启用 binlog 时，需要指定服务器的唯一 ID ，以支持主从同步
log_bin           = '/var/lib/mysql/mysql-bin'  # 启用 binlog
sync_binlog       = 0
expire_logs_days  = 7                           # binlog 文件的保存天数

character_set_server      = utf8mb4             # 设置服务器的默认字符集
default_time_zone         = '+8:00'             # 设置时区，默认采用主机的时区
default_storage_engine    = InnoDB              # 设置 MySQL 默认使用的引擎
init_connect              = 'set names utf8mb4' # 设置一条 SQL 命令，让客户端每次建立连接时执行，从而初始化连接
symbolic-links            = 0                   # 在数据目录中禁止使用符号链接
