{extend name="Admin@Public/layout" /}
{block name="content"}
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>栏目信息列表管理</h3>
        <h5>各栏目信息索引及管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
      <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
      <span id="explanationZoom" alt="收起提示" class="itip"></span>
    </div>
    <ul>
      <li>暂无</li>
    </ul>
  </div>
  <!-- 表格 -->
  <div class="table_list">
    <div class="mDiv"><div class="ftitle"><h3>权限组列表</h3><h5></h5></div></div>
    <div class="hDiv">
        <table width="100%">
        <thead>
          <tr>
          <td width="50"  align="center" class='sort'>排序</td>
          <td width="150" class="handle" align="center">操作</td>
          <td width="60" align="center">ID</td>
          <td width="250" align="center">标题</td>
          <td width="70" align="center">点击量</td>
          <td width="100" align="center">发布人</td>
          <td width="150" align="center">发帖时间</td>
          </tr>
        </thead>
        </table>
    </div>

    <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton">
             <div class="add"><span><i class="icon iconfont icon-lanmuguanli"></i>
                   <a href="javascript:void(0)" onclick="javascript:openwinx('{:url('content/add',array('catid'=>$catid))}','')">添加内容</a>
            </span></div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>

    <div class="bDiv">
      <table width="100%">
      <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td width="50"  align="center" class='sort'><span alt='可编辑' column_id='{$vo['id']}' fieldname='gc_sort' nc_type='inline_edit' class='itip editable'>{$vo['listorder']}</span></td>
            <td width="150" align="center">
            <span class="btn"><em><i class="icon iconfont icon-shezhi"></i>设置<i class="arrow"></i></em>
              <ul>
                  <li><a href="javascript:;" onClick="javascript:openwinx('{:url('content/edit',array('catid'=>$vo['catid'],'id'=>$vo['id']))}','')">编辑</a></li>
                  <li><a href="{:url('content/delete',array('catid'=>$vo['catid'],'id'=>$vo['id']))}">删除</a></li>
              </ul>
            </span>
            </td>
            <td width="60"  align="center">{$vo.id}</td>
            <td width="250" align="center">{$vo.title}</td>
            <td width="70"  align="center">{$vo.views}</td>
            <td width="100" align="center">{$vo.username}</td>
            <td width="150" align="center">{$vo.updatetime|date="Y-m-d H:i:s",###}</td>
        </tr>
        {/volist}
      </tbody>
      </table>
    </div>
    <div class="pDiv"><div class="pDiv2">{$_page}</div></div>
  </div>
</div>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.edit.js"></script>
<script type="text/javascript">
$(function(){
    $('span[nc_type="inline_edit"]').inline_edit({act: '{:url("content/listorder",array('catid'=>$catid))}'});
});
</script>
{/block}