{extend name="Admin@Public/layout" /}
{block name="content"}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>单页管理</h3>
                <h5>单页面新增修改操作</h5>
            </div>
        </div>
    </div>
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
            <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
            <span id="explanationZoom" alt="收起提示" class="itip"></span>
        </div>
        <ul>
        </ul>
    </div>
    <form action="{:url('add')}" name="adminForm" id="add_form" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal auth-form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$info['title']}" maxlength="40" name="info[title]" class="input-txt">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>关键词</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$info['keywords']}" maxlength="40" name="info[keywords]" class="input-txt">
                    <p class="notic">多关键词之间用空格隔开</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>关键词</label>
                </dt>
                <dd class="opt" style="width: 80%;">
                    <script type="text/plain" id="content" name="info[content]">{$info.content}</script>
                    <?php echo \util\Form::editor('content','full','contents',$catid,1); ?>
                </dd>
            </dl>
            <input type="hidden" name="info[catid]" value="{$catid}" />
            <div class="fix-bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="document.adminForm.submit()">确认提交</a></div>
        </div>
    </form>
</div>
{/block}