{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">CMS配置</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">基本配置</li>
                    <li>其他</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                            <label  class="layui-form-label">站点开关</label>
                            <div class="layui-input-inline w300">
                                <input type="radio" name="setting[web_site_status]" value="1" title="开启" {if 1==$setting['web_site_status']}checked{/if}>
                                <input type="radio" name="setting[web_site_status]" value="0" title="关闭" {if 0==$setting['web_site_status']}checked{/if}>
                            </div>
                            <div class="layui-form-mid layui-word-aux">站点关闭后前台将不能访问</div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">URL模式</label>
                            <div class="layui-input-inline w300">
                                <input type="radio" name="setting[site_url_mode]" value="1" title="数字" {if 1==$setting['site_url_mode']}checked{/if}>
                                <input type="radio" name="setting[site_url_mode]" value="2" title="标识" {if 2==$setting['site_url_mode']}checked{/if}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">站点名称</label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="setting[site_name]" placeholder="请输入站点标题" class="layui-input" value="{$setting['site_name']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">站点标题</label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="setting[site_title]" placeholder="请输入站点标题" class="layui-input" value="{$setting['site_title']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">站点关键词</label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="setting[site_keyword]" placeholder="请输入站点关键词" class="layui-input" value="{$setting['site_keyword']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">站点描述</label>
                            <div class="layui-input-inline w300">
                                <textarea name="setting[site_description]" placeholder="请输入站点描述" class="layui-textarea">{$setting['site_description']}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">缓存时间</label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="setting[site_cache_time]" placeholder="请输入缓存时间" class="layui-input" value="{$setting['site_cache_time']}">
                            </div>
                            <div class="layui-form-mid layui-word-aux">单页和详情页有效</div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-form-item">
                            <label  class="layui-form-label">回收站</label>
                            <div class="layui-input-inline w300">
                                <input type="radio" name="setting[web_site_recycle]" value="1" title="开启" {if 1==$setting['web_site_recycle']}checked{/if}>
                                <input type="radio" name="setting[web_site_recycle]" value="0" title="关闭" {if 0==$setting['web_site_recycle']}checked{/if}>
                            </div>
                            <div class="layui-form-mid layui-word-aux">开启后，误删的文章可以恢复,反之不可还原</div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">栏目授权</label>
                            <div class="layui-input-inline w300">
                                <input type="radio" name="setting[site_category_auth]" value="1" title="开启" {if 1==$setting['site_category_auth']}checked{/if}>
                                <input type="radio" name="setting[site_category_auth]" value="0" title="关闭" {if 0==$setting['site_category_auth']}checked{/if}>
                            </div>
                            <div class="layui-form-mid layui-word-aux">开启后，可在【栏目授权】单独给管理员分配可管理的内容栏目</div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">站长推送</label>
                            <div class="layui-input-inline w300">
                                <input type="radio" name="setting[web_site_baidupush]" value="1" title="开启" {if 1==$setting['web_site_baidupush']}checked{/if}>
                                <input type="radio" name="setting[web_site_baidupush]" value="0" title="关闭" {if 0==$setting['web_site_baidupush']}checked{/if}>
                            </div>
                            <div class="layui-form-mid layui-word-aux">如果开启百度熊掌+百度站长推送，将在文章发布时自动进行推送(需要安装推送插件)</div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">中文分词</label>
                            <div class="layui-input-inline w300">
                                <input type="radio" name="setting[web_site_getwords]" value="1" title="开启" {if 1==$setting['web_site_getwords']}checked{/if}>
                                <input type="radio" name="setting[web_site_getwords]" value="0" title="关闭" {if 0==$setting['web_site_getwords']}checked{/if}>
                            </div>
                            <div class="layui-form-mid layui-word-aux">开启后，会将内容分词提取到关键词中(需要安装中文分词插件)</div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label">关键字链接</label>
                            <div class="layui-input-inline w300">
                                <textarea name="setting[autolinks]" placeholder="请输入关键字链接" class="layui-textarea" style="width: 300px;">{$setting['autolinks']}</textarea>
                            </div>
                            <div class="layui-form-mid layui-word-aux">每行1组以"关键词<b class="text-danger">|</b>(半角竖线)链接"形式填写, 可用第2个竖线追加参数:<b class="text-danger">n</b>代表nofollow标记, <b class="text-danger">e</b>代表external nofollow标记, <b class="text-danger">b</b>代表本窗口打开.</br> 例: google<strong>|</strong>http://www.google.com<strong>|</strong>n 即此链接带nofollow(默认新窗口打开)</div>
                        </div>
                        <div class="layui-form-item">
                            <label  class="layui-form-label"></label>
                            <div class="layui-input-inline w300">
                                <div class="layui-form-mid layui-word-aux">违禁词库位于<b class="text-danger">data/words.txt</b>一行一个</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layer-footer">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit data-refresh="false">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.listen();
});
</script>
{/block}