{extend name="admin@public:layout" /}
{block name="content"}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{:url('member/manage')}" title="返回列表"><i class="icon iconfont icon-fanhui"></i></a>
            <div class="subject">
                <h3>会员管理 - 会员模块配置</h3>
                <h5>网站所有注册会员索引及管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
            <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
            <span id="explanationZoom" alt="收起提示" class="itip"></span>
        </div>
        <ul>
            <li>无</li>
        </ul>
    </div>
    <form name="myform" action="{:url('Setting/setting')}" method="post" class="form-horizontal">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">允许新会员注册</dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="status1" class="cb-enable {eq name="setting['allowregister']" value="1"}selected{/eq}">是</label>
                        <label for="status0" class="cb-disable {eq name="setting['allowregister']" value="0"}selected{/eq}">否</label>
                        <input id="status1" name='setting[allowregister]' {eq name="setting['allowregister']" value="1"}checked="checked"{/eq} value="1" type="radio">
                        <input id="status0" name='setting[allowregister]' {eq name="setting['allowregister']" value="0"}checked="checked"{/eq} value="0" type="radio">
                    </div>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" type="submit" class="ajax-post ncap-btn-big ncap-btn-green" target-form="form-horizontal">确认提交</a></div>
        </div>
    </form>
</div>
{/block}