{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">菜单管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-table-tool-temp">
        <button class="layui-btn layui-btn-sm yzn-btn-primary" data-treetable-refresh="currentTable"><i class="iconfont icon-shuaxin1"></i></button>
        <button class="layui-btn layui-btn-sm" data-open="{:url('add')}" title="添加"><i class="iconfont icon-add"></i>&nbsp;新增后台菜单</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" id="openAll"><i class="iconfont icon-add"></i>&nbsp;展开或折叠全部</button>
    </div>
</script>
<script type="text/html" id="barTool">
    <a data-open='{:url("add")}?parentid={{ d.id }}' class="layui-btn layui-btn-xs layui-btn-normal" title="添加">添加</a>
    <a data-open='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs" title="编辑"><i class='iconfont icon-brush_fill'></i></a>
    <a href='{:url("del")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del"><i class='iconfont icon-trash_fill'></i></a>
</script>
{/block}
{block name="script"}
<script>
var treeGrid = null;
layui.use(['table', 'treeGrid', 'yznTable'], function() {
    var $ = layui.$,
        treeGrid = layui.treeGrid,
        tableId = 'currentTable',
        yznTable = layui.yznTable,
        ptable = null;

    var init = {
        table_elem: '#currentTable',
        table_render_id: 'currentTable',
        modify_url:'{:url("multi")}',
    };

    var renderTable = function() {
        treeGrid.render({
            id: tableId,
            elem: init.table_elem,
            toolbar: '#toolbarDemo',
            idField: 'id',
            url: "{:url('index')}",
            cellMinWidth: 100,
            treeId: 'id', //树形id字段名称
            treeUpId: 'parentid', //树形父id字段名称
            treeShowName: 'title', //以树形式显示的字段
            height: 'full-140',
            isFilter: false,
            iconOpen: false, //是否显示图标【默认显示】
            isOpenDefault: false, //节点默认是展开还是折叠【默认展开】
            onDblClickRow: false, //去除双击事件

            // @todo 不直接使用yznTable.render(); 进行表格初始化, 需要使用 yznTable.formatCols(); 方法格式化`cols`列数据
            cols: yznTable.formatCols([
                [
                    { field: 'listorder', width: 60, title: '排序', edit: 'text' },
                    { field: 'id', width: 60, title: 'ID' },
                    { field: 'title', align: 'left', title: '菜单名称', },
                    { width: 80, title: '图标', align: 'center', templet: "<div><i class='iconfont {{d.icon}}'></i></div>" },
                    { width: 200, title: '模块/控制器/方法', templet: "<div>{{d.app}}/{{d.controller}}/{{d.action}}</div>" },
                    { field: 'status', align: 'center', width: 120, title: '状态', unresize: true ,templet: yznTable.formatter.switch,tips:"显示|隐藏"},
                    { fixed: 'right', align: 'center', width: 120, title: '操作', toolbar: '#barTool' }
                ]
            ], init),
        });
    }
    renderTable();

    $('#openAll').click(function(e) {
        var that = this;
        var treedata = treeGrid.getDataTreeList(tableId);
        treeGrid.treeOpenAll(tableId, !treedata[0][treeGrid.config.cols.isOpen]);
        var show = $("i", that).hasClass("icon-add");
        $("i", that).toggleClass("icon-add", !show);
        $("i", that).toggleClass("icon-min", show);
    })

    $('body').on('click', '[data-treetable-refresh]', function() {
        renderTable();
    });

    yznTable.listenSwitch({filter: 'status', url: init.modify_url});

    //yznTable.listenEdit(init, 'currentTable', init.table_render_id, true);

    //监听单元格编辑
    treeGrid.on('edit(currentTable)', function(obj) {
     var value = obj.value,
         data = obj.data;
         $.post('{:url("multi")}', {'id': data.id,'value': value,'param':'listorder'}, function(data) {
             if (data.code == 1) {
                 layer.msg(data.msg);
             } else {
                 layer.msg(data.msg);
             }

         })
    });
});
</script>
{/block}