{extend name="index_layout"/} {block name="main"}
<table lay-filter="newsList">
    <thead>
        <tr>
            <th lay-data="{field:'id', width:50}">ID</th>
            <th lay-data="{field:'name', width:200}">名称</th>
            <th lay-data="{field:'title', width:200}">标题</th>
            <th lay-data="{field:'type',width:100}">类型</th>
            <th lay-data="{field:'update_time', width:200}">更新时间</th>
            <th lay-data="{field:'listorder', width:80}">排序</th>
            <th lay-data="{field:'status', width:100}">状态</th>
            <th lay-data="{fixed:'right', width:120, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
    </thead>
    <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.title}</td>
            <td>{$vo.ftitle}</td>
            <td>{:date('Y-m-d H:i:s',$vo.update_time)}</td>
            <td>{$vo.listorder}</td>
            <td>
                <input type="checkbox" {if $vo.status} checked="checked" {/if} name="available" lay-skin="switch" lay-text="启用|停用" lay-filter="switchTest" data-id="{$vo.id}">
            </td>
        </tr>
        {/volist}
    </tbody>
</table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs confirm" lay-event="del" url="{:url('admin/config/del')}">删除</a>
</script>
{/block} {block name="script"}
<script>
layui.use('table', function() {
    var $ = layui.jquery,
        layer = parent.layer === undefined ? layui.layer : top.layer,
        form = layui.form,
        table = layui.table;
    //转换静态表格
    table.init('newsList', {
        limit: 10
    });
    form.on('switch(switchTest)', function(data) {
        var _this = $(this),target;
        if (data.elem.checked) {
            var value = 1;
        } else {
            var value = 0;
        }
        $.ajax({
            url: "{:url('admin/config/setstate')}",
            data: {
                id: _this.data('id'),
                status: value
            },
            success: function(data) {
                if (data.status == 1) {
                    layer.msg(data.msg, { icon: 1 });
                } else {
                    layer.msg(data.msg, { icon: 1 });
                }
            }
        });
    })
    //列表操作
    table.on('tool(newsList)', function(obj) {
        var layEvent = obj.event,
            tr = obj.tr,
            data = obj.data,
            target;
        if (layEvent === 'edit') {
            //addNews(data);
        } else if (layEvent === 'del') {
            if ((target = $(this).attr('href')) || (target = $(this).attr('url'))) {
                layer.confirm('确认要执行该操作吗?', { icon: 3, title: '提示信息' }, function(index) {
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url: target,
                        data: {
                            id: data.id
                        },
                        success: function(data) {
                            if (data.status == 1) {
                                layer.msg(data.msg, { icon: 1 });
                            } else {
                                layer.msg(data.msg, { icon: 1 });
                            }
                        }
                    });
                });
            }
            return false;
        }
    });
});
</script>
{/block}