{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                {volist name="groupArray" id="vo"}
                <li class="{if $key==$group}layui-this{/if}"><a href="{:url('admin/config/setting',['group'=>$key])}">{$vo}</a></li>
                {/volist}
            </ul>
            <div class="layui-tab-content">
                <form class="layui-form form-horizontal" action="{:url('admin/config/setting',['group'=>$group])}" method="post">
                    {include file="inputItem"  /}
                    {if count($fieldList)}
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn ajax-post" lay-submit="" lay-filter="*" target-form="form-horizontal">立即提交</button>
                        </div>
                    </div>
                    {/if}
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script>
layui.use(['element', 'form'], function() {
    var form = layui.form,
        element = layui.element,
        $ = layui.jquery;
});
</script>
{/block}