{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">分类详情</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label>分类名称</label>
                <div class="w300">
                    <input type="text" name="name" autocomplete="off" placeholder="分类名称" class="layui-input" value="{$data.name}">
                </div>
            </div>
            <input name="id" type="hidden" value="{$data.id}">
            <div class="layui-form-item">
                <div>
                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}