{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">友情链接列表</div>
    <div class="layui-card-body">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li><a href="{:url('index')}">友情链接列表</a></li>
                <li class="layui-this"><a href="{:url('terms')}">分类列表</a></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
layui.use('yznTable', function() {
    var yznTable = layui.yznTable;

    var init = {
        table_elem: '#currentTable',
        edit_url: '{:url("termsedit")}',
        delete_url: '{:url("termsdelete")}',
    };

    yznTable.render({
        init: init,
        id: 'currentTable',
        elem: '#currentTable',
        toolbar: ['refresh'],
        url: '{:url("terms")}',
        search:false,
        cols: [
            [
                { field: 'id', width: 70, title: 'ID' },
                { field: 'name',align: "left", title: '分类名称' },
                { width:120, title: '操作',templet: yznTable.formatter.tool,operat: ['edit','delete']}
            ]
        ],
    });

});
</script>
{/block}