{extend name="Admin@Public:layout" /}
{block name="content"}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{:url('models/index')}" title="返回列表"><i class="icon iconfont icon-fanhui"></i></a>
            <div class="subject">
                <h3>模型管理 - 新增</h3>
                <h5>所有后台模型索引及管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li></li>
        </ul>
    </div>
    <form action="{:url('models/add')}" method="POST" class="form-horizontal">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>模型名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="" maxlength="40" name="name" class="input-txt">
                    <p class="notic">模型名称，用于添加栏目时选择使用。</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>模型表键名</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="" maxlength="40" name="tablename" class="input-txt">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>描述</label>
                </dt>
                <dd class="opt">
                    <textarea name="description" rows="6" class="tarea"></textarea>
                    <p class="notic">模型的相关描述</p>
                </dd>
            </dl>
            <div class="fix-bot"><a href="JavaScript:void(0);" type="submit" class="ajax-post ncap-btn-big ncap-btn-green" target-form="form-horizontal">确认提交</a></div>
        </div>
    </form>
</div>
{/block}