@charset "UTF-8";

/*通用*/
.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*头部*/
.header {
    width: 100%;
    z-index: 100;
    position: relative;
    height: 95px;
    background: url(../images/header_bg.jpg) no-repeat center top #1d1e22;
    transition: all .3s ease-in;
    top: 0;
}

.header .logo {
    margin-top: 8px;
}

.header .topright {
    position: relative;
    margin-top: 25px;
    width: 835px;
    height: 50px;
    line-height: 50px;
}

.header .nav {
    padding-right: 90px;
}

.header .nav .navlist {
    position: relative;
    display: block;
}

.header .nav li {
    float: left;
    display: inline-block;
    list-style: none;
    font-size: 16px;
    text-align: center;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.header .nav li.hover a {
    color: #E74C3C;
}

.header .nav li a {
    display: block;
    text-align: center;
    position: relative;
    color: #eeeeee;
    height: 50px;
    line-height: 50px;
    padding: 0 18px;
}

.header .nav ul .subnav {
    background: #fff;
    border-top: 2px solid #E74C3C;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 199;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease 0s;
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
}

.header .nav ul li:hover .subnav {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.header .nav ul .subnav a {
    color: #666;
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    padding: 0;
    transition: all 0.2s ease-in-out 0s;
    max-width: 100%;
    border: 0 none;
    border-bottom: 1px solid #eee;
    border-radius: initial;
}

.header .nav ul .subnav a:hover {
    color: #E74C3C;
    background: #f9f9f9;
    text-indent: 3px;
}

.header .topbtn {
    padding-right: 7%;
    position: relative;
    z-index: 10;
}

.header .search-box {
    position: absolute;
    right: 0;
    top: -25px;
    height: 80px;
    line-height: 80px;
    z-index: 99;
}

.header .search-box .butn {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    background: url(../images/ico_60.png) no-repeat center;
}

.header .search-box .butn.hov {
    background: none;
}

.header .search-box .butn.hov i {
    display: block;
}

.header .search-box .butn i {
    width: 38px;
    height: 38px;
    display: none;
    background: url(../images/sou.png) no-repeat center;
    margin: 0 auto;
    border: 1px solid #52545b;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.header .search-box .share-sub {
    position: absolute;
    right: 40px;
    top: 25px;
    width: 0;
    height: 48px;
    overflow: hidden;
    background: #ededed;
    border-radius: 5px 0 0 5px;
}

.header .search-box .share-sub .tex {
    width: 220px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 14px 10px;
    color: #666;
    border: none;
    background: #ededed;
    outline: none;
}

.header .search-box .share-sub .sub-btn {
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: none;
    background: url(../images/sou.png) no-repeat center #E74C3C;
}

/*轮播图*/
.fullSlide {
    width: 100%;
    position: relative;
    height: 600px;
    background: #000;
}

.fullSlide .bd {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.fullSlide .bd ul {
    width: 100% !important;
}

.fullSlide .bd li {
    width: 100% !important;
    height: 600px;
    overflow: hidden;
    text-align: center;
}

.fullSlide .bd li a {
    display: block;
    height: 600px;
}

.fullSlide .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
}

.fullSlide .hd ul {
    text-align: center;
}

.fullSlide .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 40px;
    height: 5px;
    margin: 4px;
    overflow: hidden;
    background: #fff;
    line-height: 999px;
}

.fullSlide .hd ul .on {
    background: #E74C3C;
}

.fullSlide .prev,
.fullSlide .next {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    left: 4%;
    z-index: 1;
    width: 40px;
    height: 60px;
    background: url(../images/slider-arrow.png) -126px -137px #000 no-repeat;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
}

.fullSlide .next {
    left: auto;
    right: 4%;
    background-position: -6px -137px;
}

/*内页*/
.headline-bg {
    position: absolute;
    width: 100%;
    top: 95px;
    left: 0;
    height: 500px;
    background: #253340 url(../images/headline-bg.jpg) no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-top {
    position: relative;
    overflow: hidden;
    padding: 70px 0 44px;
    height: 44px;
    line-height: 44px;
}

.container-top h2 {
    font-size: 30px;
    color: #ffffff;
    float: left;
    text-transform: uppercase;
}

.container-top h2 span {
    padding-left: 28px;
    margin-left: 20px;
    background: url(../images/titlebg_01.jpg) no-repeat left center;
    font-family: Arial;
}

.bread-nav {
    float: right;
    min-width: 420px;
    color: #ffffff;
    text-align: right;
    padding-top: 5px;
}

.bread-nav a {
    color: #f3f3f3;
    margin: 0 3px;
}

.content {
    background-color: #fff;
    padding: 30px 30px 50px;
    overflow: hidden;
}
.about{
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}
.content-left {
    width: 240px;
    float: left;
}

.content-right {
    width: 860px;
    float: right;
}

.content-title {
    width: 160px;
    padding-left: 80px;
    height: 80px;
    line-height: 80px;
    background: #f90712 url(../images/h2bg.png) no-repeat 25px center;
    font-size: 24px;
    color: #ffffff;
    border-bottom: 3px solid #f6f6f6;
}
.menu-list {
    width: 240px;
    background-color: #f6f6f6;
}
.menu-list a {
    display: block;
    width: 236px;
    height: 55px;
    line-height: 55px;
    border-left: 4px solid #f6f6f6;
    border-bottom: 1px solid #e8e8e8;
    text-indent: 40px;
    font-size: 16px;
    color: #333;
}
.menu-list a:hover, .menu-list a.active {
    border-left-color: #f1151f;
    background-color: #fff;
    text-indent: 36px;
}
.content-contact {
    margin-top: 38px;
    width: 100%;
}
.content-contact .h2bg {
    height: 84px;
    width: 100%;
    line-height: 84px;
    background: url(../images/conbg.png) no-repeat center;
}
.content-contact .h2bg h2 {
    width: 146px;
    padding-left: 94px;
    background: url(../images/conico.png) no-repeat 34px center;
    font-size: 24px;
    color: #ffffff;
}
.cc-info {
    padding: 20px 25px 40px 30px;
    background-color: #f6f6f6;
}
.cc-info p {
    color: #666666;
    line-height: 26px;
}
/*新闻列表*/
.newsPage .list {
    padding-bottom: 30px;
}
.newsPage .item {
    height: 178px;
    transition: all .5s;
    border: 1px solid #f3f3f3;
    display: block;
    margin-bottom: 20px;
}
.newsPage .item a {
    padding: 26px;
    display: block;
}
.newsPage .item img {
    width: 168px;
    height: 126px;
    display: block;
    margin-right: 30px;
}
.newsPage .item h3 {
    font-weight: normal;
    font-size: 20px;
    padding: 10px 0 10px;
    -webkit-transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -ms-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    transition: all ease 300ms;
    color: #000;
}
.newsPage .item .txt {
    color: #999;
    line-height: 24px;
    width: 400px;
    height: 48px;
    overflow: hidden;
}
.newsPage .item .time {
    width: 130px;
    padding: 20px 0 20px 45px;
    border-left: 1px solid #eee;
    font-family: arial;
    font-size: 18px;
    color: #999;
    text-align: center;
}
.newsPage .item .time .day {
    font-size: 30px;
    line-height: 45px;
    display: block;
}
.newsPage .item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
}
.newsPage .item:hover h3 {
    color: #f90712;
}
.newsPage .item:hover .time .day span {
    background: #6d6d6d;
}
.newsPage .item:hover .time .day strong {
    background: #ff0000;
    color: #fff;
}
.viewpage {
    background: #eee;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
/*新闻详情页*/
.newsshow {
    padding-top: 25px;
}
.newsview {
    min-height: 400px;
    display: inline;
    margin-top: 30px;
    border-top: 1px solid #fff;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 33px;
    float: left;
    color: #777;
}
.newsshow h2 {
    color: #333333;
    font-size: 26px;
    font-weight: normal;
}
.newsshow .date {
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}
.newsshow .date span {
    display: block;
    float: left;
    color: #999999;
    margin-right: 30px;
    padding-left: 22px;
}
.newsshow .date .s1 {
    background: url(../images/news_icon1.jpg) no-repeat left center;
}
.newsshow .date .s2 {
    background: url(../images/news_icon2.jpg) no-repeat left center;
}
.newsshow .date .s3 {
    background: url(../images/news_icon3.jpg) no-repeat left center;
}
.main_r_nav {
    float: left;
    width: 754px;
    height: 66px;
    padding: 10px 0;
    font-size: 14px;
    margin-left: 20px;
    display: inline;
}
.main_r_nav a {
    color: #777;
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 33px;
    font-size: 14px;
}
.main_r_nav a:hover{
    color: #f90712;
}
.returnlist {
    width: 50px;
    height: 56px;
    padding: 15px 18px;
    display: inline;
    float: right;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    background: #2f2e2e;
}
.returnlist a {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: "microsoft yahei";
    width: 100%;
    display: block;
}
/*底部*/
.footer {
    width: 100%;
    background: #191919;
    color: #fff;
    padding-bottom: 40px;
}

.footer .links {
    padding: 30px 0;
    margin-bottom: 40px;
    font-size: 16px;
    border-bottom: 1px solid #353535;
}

.footer .links span {
    color: #fff;
    display: inline-block;
}

.footer .links a {
    display: inline-block;
    font-size: 14px;
    color: #999;
    padding-right: 10px;
}

.footer .botnavlist li {
    float: left;
    width: 100px;
    padding: 0 0 0 48px;
    display: block;
    list-style: none;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    border-right: 1px solid #353535;
    overflow: hidden;
}

.footer .botnavlist li:first-child {
    padding-left: 0px;
}

.footer .botnavlist li a {
    color: #fff;
    display: block;
    line-height: 32px;
    font-size: 16px;
}

.footer .botnavlist li .drop {
    padding-top: 10px;
}

.footer .botnavlist li .drop a {
    display: block;
    line-height: 26px;
    color: #999;
    width: 100%;
    font-size: 12px;
}

.footer .botnavlist li a:hover {
    color: #E74C3C;
}

.footer .qcode {
    width: 540px;
}

.footer .btel {
    width: 320px;
    line-height: 28px;
}

.footer .btel .p1 {
    color: #fff;
}

.footer .btel .p2 {
        margin-bottom: 10px;
    padding-left: 48px;
    background: url(../images/ico_tel.png) no-repeat left center;
    font-family: "GrayDesign Regular", "arial, helvetica, sans-serif";
    font-size: 30px;
    color: #fa0712;
    line-height: 40px;
}

.footer .btel .p3 {
    color: #999;
    line-height: 22px;
}

.footer .qcode .ewm {
    width: 130px;
    height: 130px;
    display: block;
    border: 5px solid #666;
}

.copy {
    background: #191919;
    border-top: 1px solid #353535;
    line-height: 60px;
    color: #999;
    font-size: 12px;
    margin-bottom: 30px;
}

.tips {
    background: #000;
    width: 100%;
    line-height: 40px;
    height: 40px;
    position: fixed;
    bottom: 0;
}

.tips p {
    color: red;
}