@charset "UTF-8";
/*通用*/
.w1200 {
    width: 1200px;
    margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*头部*/
.header{
    width: 100%;
    z-index: 100;
    position: relative;
    height: 95px;
    background: url(../images/header_bg.jpg) no-repeat center top #1d1e22;
    transition: all .3s ease-in;
    top: 0;
}
.header .logo{
    margin-top: 8px;
}
.header .topright{
    position: relative;
    margin-top: 25px;
    width: 835px;
    height: 50px;
    line-height: 50px;
}
.header .nav {
    padding-right: 40px;
}
.header .nav .navlist {
    position: relative;
    display: block;
}
.header .nav li {
    float: left;
    display: inline-block;
    list-style: none;
    font-size: 16px;
    text-align: center;
    position: relative;
    height: 50px;
    line-height: 50px;
}
.header .nav li a {
    display: block;
    text-align: center;
    position: relative;
    color: #eeeeee;
    height: 50px;
    line-height: 50px;
    padding: 0 18px;
    border: 1px solid #25262b;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.header .nav ul .subnav {
    background: #fff;
    border-top: 2px solid #63b670;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 199;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease 0s;
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
}