{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">添加栏目</div>
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" action="{:url('cms/category/add')}" method="post">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">基本设置</li>
                    <li>拓展设置</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                            <label class="layui-form-label">选择模型</label>
                            <div class="layui-input-inline w300">
                                <select name="parentid">
                                    <option value="">请选择模型</option>
                                    {volist name="models" id="vo"}
                                    <option value="{$vo.id}">{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">栏目类型</label>
                            <div class="layui-input-inline w300">
                                <input type="radio" name="type" value="2" title="列表" checked>
                                <input type="radio" name="type" value="1" title="单页">
                                <input type="radio" name="type" value="3" title="链接">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上级菜单</label>
                            <div class="layui-input-inline w300">
                                <select name="parentid">
                                    <option value="0">作为顶级栏目</option>
                                    {$category|raw}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">栏目名称 </label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="catname" autocomplete="off" placeholder="栏目名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">英文目录</label>
                            <div class="layui-input-inline w300">
                                <input type="text" name="catdir" autocomplete="off" placeholder="英文目录" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">栏目首页模板</label>
                            <div class="layui-input-inline w300">
                                <select name="category_template">
                                    <option value="category.{:config('template.view_suffix')}" selected>默认栏目首页:category.{:config('template.view_suffix')}</option>
                                    {volist name="tp_category" id="vo"}
                                    <option value="{$vo}">{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="layui-form-mid layui-word-aux">新增模板以category_xx.{:config('template.view_suffix')}形式</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">栏目列表页模板</label>
                            <div class="layui-input-inline w300">
                                <select name="list_template">
                                    <option value="list.{:config('template.view_suffix')}" selected>默认栏目列表页:list.{:config('template.view_suffix')}</option>
                                    {volist name="tp_list" id="vo"}
                                    <option value="{$vo}">{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="layui-form-mid layui-word-aux">新增模板以list_xx.{:config('template.view_suffix')}形式</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">内容页模板</label>
                            <div class="layui-input-inline w300">
                                <select name="show_template">
                                    <option value="show.{:config('template.view_suffix')}" selected>默认内容页:show.{:config('template.view_suffix')}</option>
                                    {volist name="tp_show" id="vo"}
                                    <option value="{$vo}">{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="layui-form-mid layui-word-aux">新增模板以show_xx.{:config('template.view_suffix')}形式</div>
                        </div>
                    </div>
                    <div class="layui-tab-item">内容2</div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn ajax-post" lay-submit="" lay-filter="*" target-form="form-horizontal">立即提交</button>
                        <button class="layui-btn layui-btn-normal" onclick="javascript :history.back(-1);">返回</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
{/block}