{php}$catid=request()->param('catid/d',0);$page=request()->param('page/d',1);$offset=($page-1)*5;$limit="$offset,5";{/php}
{yzn module="cms" action="lists" catid="$catid" order="listorder ASC" limit="$limit" return="data"}
{volist name="data" id="vo"}
<li class="item clearfix">
    <a href="{$vo.url}" title="{$vo.title}"><img class="fl" src="https://via.placeholder.com/168x126" alt="{$vo.title}">
        <div class="time fr"><span class="day">{$vo.updatetime|date="m-d"}</span><span class="year">{$vo.updatetime|date="Y"}</span></div>
        <h3>{$vo.title}</h3>
        <div class="txt">{$vo.description|str_cut=###,60}</div>
    </a>
</li>
{/volist}
{/yzn}

{if !$__LIST__}
    <div class="tc"><span>暂无更多数据</span></div>
{else /}
    <div class="text-center">
        <a href="?page={:$page+1}" data-page="{$page}" class="btn-loadmore">加载更多</a>
    </div>
{/if}