<div class="footer">
<div class="w1200 clearfix">
    <div class="links">
        <span>友情链接：</span>
        <a href="http://www.baidu.com/" target="_blank">百度一下</a>
        <a href="https://gitee.com/ken678/YZNCMS" target="_blank">源码下载</a>
        <a href="http://www.thinkphp.cn/" target="_blank">thinkphp</a>
        <a href="http://www.taobao.com/" target="_blank">淘宝</a>
    </div>
    <ul class="botnavlist fl">
        <li><a href="/13105/a/guanyuwomen/" title="关于我们">关于我们</a>
            <div class="drop clearfix"> <a href="/13105/a/guanyuwomen/gongsijianjie/" title="公司简介">公司简介</a> <a href="/13105/a/guanyuwomen/qiyewenhua/" title="企业文化">企业文化</a> <a href="/13105/a/guanyuwomen/gongsirongyu/" title="公司荣誉">公司荣誉</a> </div>
        </li>
        <li><a href="/13105/a/chanpinzhongxin/" title="产品中心">产品中心</a>
            <div class="drop clearfix"> <a href="/13105/a/chanpinzhongxin/zhuzhaibieshu/" title="住宅别墅">住宅别墅</a> <a href="/13105/a/chanpinzhongxin/jiudianshangchang/" title="酒店商场">酒店商场</a> <a href="/13105/a/chanpinzhongxin/gangtingcangku/" title="岗亭仓库">岗亭仓库</a> <a href="/13105/a/chanpinzhongxin/gonggongsheshi/" title="公共设施">公共设施</a> <a href="/13105/a/chanpinzhongxin/jingqupeitao/" title="景区配套">景区配套</a> <a href="/13105/a/chanpinzhongxin/ganggouchangfang/" title="钢构厂房">钢构厂房</a> </div>
        </li>
        <li><a href="/13105/a/xinwendongtai/" title="新闻动态">新闻动态</a>
            <div class="drop clearfix"> <a href="/13105/a/xinwendongtai/xingyexinwen/" title="行业新闻">行业新闻</a> <a href="/13105/a/xinwendongtai/qiyexinwen/" title="企业新闻">企业新闻</a> </div>
        </li>
        <li><a href="/13105/a/gongchenganli/" title="工程案例">工程案例</a>
            <div class="drop clearfix"> <a href="/13105/a/gongchenganli/zhongshifengge/" title="中式风格">中式风格</a> <a href="/13105/a/gongchenganli/xiandaifengge/" title="现代风格">现代风格</a> <a href="/13105/a/gongchenganli/oushifengge/" title="欧式风格">欧式风格</a> <a href="/13105/a/gongchenganli/meishifengge/" title="美式风格">美式风格</a> </div>
        </li>
    </ul>
    <div class="qcode fr">
        <div class="btel fl">
            <p class="p1">电话</p>
            <p class="p2">0512-88888888</p>
            <p class="p3">邮　箱：admin@admin.com</p>
            <p class="p3">手　机：13488888888</p>
            <p class="p3">地　址：江苏省苏州市吴中区某某工业园</p>
        </div>
        <img class="ewm fr" src="__IMG_PATH__/erweima.png" alt=""></div>
    </div>
</div>
<div class="copy">
    <div class="w1200 clearfix">
        <p class="fl">Copyright © 2018-2019&nbsp;&nbsp;某某网络科技有限公司 版权所有&nbsp;&nbsp;备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" title="苏ICP备********号">苏ICP备********号</a></p>
    </div>
</div>
<script src="__JS_PATH__/base.js"></script>
</body>
</html>