<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if condition="isset($SEO['title']) && !empty($SEO['title'])"}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />
    <link rel="stylesheet" href="__CSS_PATH__/base.css">
    <link rel="stylesheet" href="__CSS_PATH__/style.css">
    <script src="__JS_PATH__/jquery.min.js"></script>
    <script src="__JS_PATH__/jquery.SuperSlide.2.1.3.js"></script>
</head>

<body>
    {yzn:category  catid="0" cache="3600" order="listorder ASC" return="data"}
    <?php var_dump($data); ?>
    {/yzn:category}
    <!--头部-->
    <div class="header">
        <div class="w1200">
            <div class="logo fl">
                <img src="__IMG_PATH__/logo.png" alt="" />
		    </div>
            <div class="topright fr">
            	<!--搜索栏开始-->
            	<div class="topbtn fr">
            		<div class="search-box fr">
            			<span class="butn hov"><i></i></span>
						<div class="share-sub" style="width: 0px;">
						    <form name="formsearch" action="/13105/plus/search.php">
						        <input type="hidden" name="kwtype" value="0">
						        <input class="fl tex" type="text" name="q" value="请输入关键字" onfocus="if(this.value==defaultValue)this.value=''" onblur="if(this.value=='')this.value=defaultValue">
						        <input type="submit" value="" class="fl sub-btn ico">
						    </form>
						</div>
            		</div>
            	</div>
                <div class="nav fr">
                    <ul class="navlist">
                        <li id="cur" class="hover"><a href="/13105" title="首页">首页</a></li>
                        <li class=""><a href="/13105/a/guanyuwomen/" title="关于我们">关于我们</a>
                            <div class="subnav">
                                <a href="/13105/a/guanyuwomen/gongsijianjie/" title="公司简介">公司简介</a> <a href="/13105/a/guanyuwomen/qiyewenhua/" title="企业文化">企业文化</a> <a href="/13105/a/guanyuwomen/gongsirongyu/" title="公司荣誉">公司荣誉</a> </div>
                        </li>
                        <li class=""><a href="/13105/a/chanpinzhongxin/" title="产品中心">产品中心</a>
                            <div class="subnav">
                                <a href="/13105/a/chanpinzhongxin/zhuzhaibieshu/" title="住宅别墅">住宅别墅</a> <a href="/13105/a/chanpinzhongxin/jiudianshangchang/" title="酒店商场">酒店商场</a> <a href="/13105/a/chanpinzhongxin/gangtingcangku/" title="岗亭仓库">岗亭仓库</a> <a href="/13105/a/chanpinzhongxin/gonggongsheshi/" title="公共设施">公共设施</a> <a href="/13105/a/chanpinzhongxin/jingqupeitao/" title="景区配套">景区配套</a> <a href="/13105/a/chanpinzhongxin/ganggouchangfang/" title="钢构厂房">钢构厂房</a> </div>
                        </li>
                        <li class=""><a href="/13105/a/xinwendongtai/" title="新闻动态">新闻动态</a>
                            <div class="subnav">
                                <a href="/13105/a/xinwendongtai/xingyexinwen/" title="行业新闻">行业新闻</a> <a href="/13105/a/xinwendongtai/qiyexinwen/" title="企业新闻">企业新闻</a> </div>
                        </li>
                        <li class=""><a href="/13105/a/gongchenganli/" title="工程案例">工程案例</a>
                            <div class="subnav">
                                <a href="/13105/a/gongchenganli/zhongshifengge/" title="中式风格">中式风格</a> <a href="/13105/a/gongchenganli/xiandaifengge/" title="现代风格">现代风格</a> <a href="/13105/a/gongchenganli/oushifengge/" title="欧式风格">欧式风格</a> <a href="/13105/a/gongchenganli/meishifengge/" title="美式风格">美式风格</a> </div>
                        </li>
                        <li class=""><a href="/13105/a/zaixianliuyan/" title="在线留言">在线留言</a>
                            <div style="display:none">
                            </div>
                        </li>
                        <li class=""><a href="/13105/a/lianxiwomen/" title="联系我们">联系我们</a>
                            <div style="display:none">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>