<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if condition="isset($SEO['title']) && !empty($SEO['title'])"}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}" />
<meta name="description" content="{$SEO['description']}" />
<link rel="stylesheet" href="__CSS_PATH__/base.css">
<link rel="stylesheet" href="__CSS_PATH__/style.css">
</head>
<body>
<!--头部-->
<div class="header">
	<div class="w_1200">
		<div class="logo fl">
			<img src="__IMG_PATH__/logo.jpg" alt="" />
		</div>

	</div>
</div>