{include file="header" /}
<!--S 轮播图-->
<div class="fullSlide">
    <div class="bd">
        <ul>
            <li _src="url(__IMG_PATH__/banner01.jpg)" style="background:#fff center 0 no-repeat;"><a target="_blank" href="javascript:;"></a></li>
            <li _src="url(__IMG_PATH__/banner02.jpg)" style="background:#fff center 0 no-repeat;"><a target="_blank" href="javascript:;"></a></li>
            <li _src="url(__IMG_PATH__/banner03.jpg)" style="background:#fff center 0 no-repeat;"><a target="_blank" href="javascript:;"></a></li>
        </ul>
    </div>
    <div class="hd">
        <ul></ul>
    </div>
    <span class="prev"></span>
    <span class="next"></span>
</div>
<!--E 轮播图-->
<!--S 案例-->
<div class="main_case">
	<div class="w1200">
		<div class="m_til">
			<h5><em class="enfont">EXCELLENT CASE<i></i></em></h5>
			<span>精品案例</span>
		</div>
	</div>
</div>
<!--E 案例-->
<!--S 新闻-->
<div class="main_new">
	<div class="w1200">
		<div class="m_til">
			<h5><em class="enfont">News information<i></i></em></h5>
			<span>新闻动态</span>
		</div>
	</div>
</div>
<!--E 新闻-->
{include file="footer" /}