{include file="header" /}
<!--轮播图-->
<div class="fullSlide">
    <div class="bd">
        <ul>
            <li _src="url(__IMG_PATH__/banner01.jpg)" style="background:#fff center 0 no-repeat;"><a target="_blank" href="javascript:;"></a></li>
            <li _src="url(__IMG_PATH__/banner02.jpg)" style="background:#fff center 0 no-repeat;"><a target="_blank" href="javascript:;"></a></li>
            <li _src="url(__IMG_PATH__/banner03.jpg)" style="background:#fff center 0 no-repeat;"><a target="_blank" href="javascript:;"></a></li>
        </ul>
    </div>
    <div class="hd">
        <ul></ul>
    </div>
    <span class="prev"></span>
    <span class="next"></span>
</div>
{include file="footer" /}