{extend name="admin@public:layout" /}
{block name="content"}
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="{:url('links/index')}" title="返回列表"><i class="icon iconfont icon-fanhui"></i></a>
      <div class="subject">
        <h3>链接设置 - 编辑链接</h3>
        <h5>友情链接中心及分类管理操作</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
      <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
      <span id="explanationZoom" alt="收起提示" class="itip"></span>
    </div>
    <ul>
      <li></li>
    </ul>
  </div>
  <form action="{:url('links/edit')}" name="adminForm" id="add_form" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal auth-form">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="termsid"><em>*</em>所属分类</label>
        </dt>
        <dd class="opt">
            <select name="termsid" class="valid">
                <option value="0">==默认分类==</option>
                {volist name="Terms" id="vo"}
                <option value="{$key}" {eq name="key" value="$data['termsid']"}selected{/eq}>{$vo}</option>
                {/volist}
            </select>
          <span class="err"></span>
          <p class="notic">请选择一个分类，如果还未设置，请在分类管理建立分类。</p>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="name"><em>*</em>网站名称</label>
        </dt>
        <dd class="opt">
          <input type="text"  value="{$data['name']}" maxlength="40"  name="name" class="input-txt">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="url"><em>*</em>网站链接</label>
        </dt>
        <dd class="opt">
          <input type="text"  value="{$data['url']}" maxlength="100"  name="url" class="input-txt">
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="catdir">LOGO</label>
        </dt>
        <dd class="opt">
          <div class="input-file-show">
          {php} echo \util\Form::images('image', 'image',$data['image'], 'links'); {/php}
          </div>
          <span class="err"></span>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="description">链接描述</label>
        </dt>
        <dd class="opt">
          <textarea name="description" rows="6" class="tarea">{$data['description']}</textarea>
        </dd>
      </dl>
      <input name="id" type="hidden" value="{$data['id']}" />
      <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="document.adminForm.submit()">确认提交</a></div>
    </div>
  </form>
</div>
<script type="text/javascript">
    var upurl ="{:url('attachment/attachments/WebUploader','','')}";
</script>
<script type="text/javascript" src="__STATIC__/admin/js/content_addtop.js"></script>
{/block}
