{extend name="admin@public:layout" /}
{block name="content"}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>系统公告</h3>
                <h5>系统公告管理操作</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="icon iconfont icon-dengpao"></i>
            <h4 alt="提示相关设置操作时应注意的要点" class="itip">操作提示</h4>
            <span id="explanationZoom" alt="收起提示" class="itip"></span>
        </div>
        <ul>
            <li></li>
        </ul>
    </div>
    <!-- 表格 -->
    <div class="table_list">
        <div class="mDiv">
            <div class="ftitle">
                <h3>系统公告列表</h3>
                <h5></h5></div>
        </div>
        <div class="hDiv">
            <table width="100%">
                <thead>
                    <tr>
                        <td width="20">
                            <label>
                                <input class="check-all" checked="chedked" type="checkbox" value="">
                            </label>
                        </td>
                        <td width="150" align="center">操作</td>
                        <td width="350" align="center">标题</td>
                        <td width="100" align="center">起始日期</td>
                        <td width="100" align="center">截止日期</td>
                        <td width="100" align="center">录入者</td>
                        <td width="50" align="center">浏览次数</td>
                        <td width="200" align="center">发表时间</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton">
                    <div class="add"><span><i class="icon iconfont icon-lianjie"></i><a href="{:url('announce/add')}">添加公告</a></span></div>
                </div>
                <div class="fbutton">
                    <div class="add ajax-post confirm" target-form="ids" url="{:url('announce/delete')}"><span><i class="icon iconfont icon-shanchu"></i>批量删除</span></div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv">
            <table width="100%">
                <tbody>
                    {volist name="list" id="vo"}
                    <tr>
						<td width="20">
						<input class="ids" checked="chedked" type="checkbox" name="ids[]" value="{$vo['aid']}">
						</td>
						<td width="150" align="center">
						<a href="{:url('announce/edit',array('aid'=>$vo['aid']))}" class="btn blue"><i class="icon iconfont icon-edit"></i>编辑<a>
						<a class="btn red ajax-get confirm" url="{:url('announce/delete',array('ids'=>$vo['aid']))}"><i class="icon iconfont icon-shanchu"></i>删除<a>
						</td>
						<td width="350"  align="center">{$vo['title']}</td>
						<td width="100" align="center">{$vo['starttime']}</td>
						<td width="100" align="center">{$vo['endtime']}</td>
						<td width="100" align="center">{$vo['username']}</td>
						<td width="50" align="center">{$vo['hits']}</td>
						<td width="200" align="center">{$vo['addtime']|time_format}</td>
	              </tr>
	          {/volist}
			</tbody>
			</table>
		</div>
		<div class="pDiv"><div class="pDiv2">{$_page}</div></div>
	</div>
</div>
{/block}