{extend name="admin@index_layout"/}
{block name="main"}
<form class="layui-form" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">会员组名称</label>
        <div class="layui-input-block">
            <input type="text" name="row[name]" lay-verify="required" autocomplete="off" placeholder="会员组名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">积分小于</label>
        <div class="layui-input-block">
            <input type="text" name="row[point]" lay-verify="required" autocomplete="off" placeholder="积分小于" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">星星数</label>
        <div class="layui-input-block">
            <input type="text" name="row[starnum]" lay-verify="required" autocomplete="off" placeholder="星星数" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户权限</label>
        <div class="layui-input-block">
            <input type="checkbox" name="row[allowpost]" title="允许投稿" lay-skin="primary" value="1">
            <input type="checkbox" name="row[allowpostverify]" title="投稿不需审核" lay-skin="primary" value="1">
            <input type="checkbox" name="row[allowupgrade]" title="允许自助升级" lay-skin="primary" value="1">
            <input type="checkbox" name="row[allowsendmessage]" title="允许发短消息" lay-skin="primary" value="1">
            <input type="checkbox" name="row[allowattachment]" title="允许上传附件" lay-skin="primary" value="1">
            <input type="checkbox" name="row[allowsearch]" title="搜索权限" lay-skin="primary" value="1">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">升级价格</label>
        <div class="layui-input-block">
            <div class="layui-form-mid">包日</div>
            <div class="layui-input-inline" style="width:80px;">
                <input type="text" class="layui-input" name="row[price_d]" placeholder="包日" value="">
            </div>
            <div class="layui-form-mid">包月</div>
            <div class="layui-input-inline" style="width:80px;">
                <input type="text" class="layui-input" name="row[price_m]" placeholder="包月" value="">
            </div>
            <div class="layui-form-mid">包年</div>
            <div class="layui-input-inline" style="width:80px;">
                <input type="text" class="layui-input" name="row[price_y]" placeholder="包年" value="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">最大短消息数</label>
        <div class="layui-input-block">
            <input type="text" name="row[allowmessage]" lay-verify="required" autocomplete="off" placeholder="最大短消息数" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">日最大投稿数</label>
        <div class="layui-input-block">
            <input type="text" name="row[allowpostnum]" lay-verify="required" autocomplete="off" placeholder="日最大投稿数" class="layui-input">
        </div>
        <div class="layui-form-mid2 layui-word-aux">0为不限制</div>
    </div>
    <div class="layui-form-item web_seo">
        <label class="layui-form-label">用户组简介</label>
        <div class="layui-input-block">
            <textarea name="row[description]" placeholder="栏目简介" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">用户组图标</label>
        <div class="layui-input-block">
            {:Form::image("row[icon]")}
        </div>
    </div>
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.listen();
});
</script>
{/block}