<li class="layui-nav-item">
    <a href="javascript:;"><i class="iconfont icon-money"></i>&nbsp;财务中心</a>
    <dl class="layui-nav-child">
    	<dd><a href="{:url('pay/index/pay')}"><i class="iconfont icon-circle-line"></i>&nbsp;在线充值</a></dd>
        <dd><a href="{:url('pay/index/pay_list')}"><i class="iconfont icon-circle-line"></i>&nbsp;入账记录</a></dd>
        <dd><a href="{:url('pay/index/spend_list')}"><i class="iconfont icon-circle-line"></i>&nbsp;消费记录</a></dd>
        <dd><a href="{:url('pay/index/change_credit')}"><i class="iconfont icon-circle-line"></i>&nbsp;积分兑换</a></dd>
    </dl>
</li>