@charset "utf-8";
* { word-wrap: break-word; outline: none; }
body { background: #FFF; min-width: 1000px; }
html, body { height: 100%;}
html { -webkit-text-size-adjust: none; }
body, td, input, textarea, select,
button { color: #555; font-size: 12px; font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; }
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; }
ul, ol, li { list-style-image: none; list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
a { color: #3b639f; text-decoration: none; blr:expression(this.onFocus=this.blur()) }
a:hover { color: #CD0200; text-decoration: none; }
a img { border: none; }
em, cite, th { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; }
th { text-align: left; }
input, button, select, textarea { outline: none }
i.iconfont { font-size: 14px; vertical-align: middle; margin-right: 4px;line-height: 1;}/*字体图标属性*/
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.nobg { background-color: transparent !important; background-image: none !important; }
.nopd { padding: 0!important; }
.nobd { border-width: 0!important; border-color: transparent!important; border-style: none!important; border-radius: 0!important; }
.nobs, .nobs:hover { box-shadow: none!important; }
.clear {clear: both; }

.iframe_body {background-color: #f7f7f7; }
.warpper{ position:relative; min-width:1000px; width:100%;}
.warpper .title{ height:60px; line-height:60px; border-bottom:1px solid #e4eaec; font-size:18px; color:#343434; padding:0 28px;}
.warpper .content{ position:relative; padding:20px 30px;}
.warpper .start_content{ padding:20px 15px 20px 18px;}
.warpper .contentWarp .section{ margin: 30px 0 0 0;padding: 0 20px;background: #fff;box-shadow: 0 0 8px rgba(0,0,0,0.1);font-size: 12px; border-radius:5px;}
.warpper .contentWarp .section_select{ overflow:hidden; margin-bottom:-10px;}
.warpper .contentWarp .section .sc_title{padding:26px 0 14px; border-bottom:1px solid #e4eaec; position:relative;}
.warpper .contentWarp .section .sc_title h3{ float:left; font-size:16px; font-weight:bold; color:#000; line-height:20px; padding-left:28px;}
.warpper .contentWarp .section .sc_title cite{ float:right; color:#999; line-height:20px;}
.warpper .contentWarp .section .sc_icon{border-radius: 50%; width: 20px; height: 20px;line-height: 20px; display: block; color: #fff; text-align: center; font-size: 14px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; position: absolute; }
.warpper .contentWarp .system_section { float:left; width:190px; padding:0 20px; margin-bottom:20px;}
.warpper .contentWarp .system_section .sc_title{ padding:18px 0;}
.warpper .contentWarp .sc_warp{ display:none; overflow:hidden; margin:20px 0;}
.contentWarp_item .section_order_select{ width:100%; position:relative; float:left;}
.contentWarp_item .section_order_select ul{ float:left; margin-top:-12px; width:100%;}
.contentWarp_item .section_order_select li{ width:24%; margin-right:1.3%; height:auto; background:#fff; border-radius:5px; float:left; text-align:center; margin-top:12px;}
.contentWarp_item .section_order_select li:last-child{ margin-right:0;}
i.ice{border-radius: 50%; width: 55px; height: 55px; display: block; margin: 0 auto; color: #fff; text-align: center; line-height: 55px; font-size: 35px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

.pet_nav_lanmu{background: #fe9700; }
.pet_nav_moxing{background: #fd7a49; }
.pet_nav_wenzhang{background: #4493f7; }
.pet_nav_huiyuan{background: #7fd02b; }
.pet_nav_banben{background: #f26765;; }
.pet_nav_xinxi{background: #6f68df; }

.contentWarp_item .section_select .item_comment{padding: 83px 0 31px 38px; }
.contentWarp_item .section_select .item {padding: 83px 0 38px 38px; }
.contentWarp_item .section_order_select li a{ color:#707070; display:block;padding:24px 0 20px;}
.contentWarp_item .section_order_select li a:hover{ color:#ec5051;}
.contentWarp_item .section_order_select li .t{ font-size:14px; margin-top:18px; line-height:18px;}
.contentWarp_item .section_order_select li .number{ font-size:18px; color:#ec5151; margin-top:8px; display:block;}
.contentWarp_item .section_order_select li:hover{transition: all .1s ease-out;text-decoration: none;-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.1);box-shadow: 0 0 8px rgba(0,0,0,.1);}
.contentWarp_item .section_order_select li:hover i.ice{ -webkit-box-shadow: inset 0 0 40px rgba(0,0,0,.3);}
.system_table{ border:1px solid #dcdcdc; width:100%;}
.system_table td{ height:40px; line-height:40px; font-size:12px; color:#454545; border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc; width:32%;padding-left:3%;}
.system_table td.gray_bg{ background:#f7f7f7; width:18%;}

#footer {text-align: center;  width: 100%;font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New","Microsoft Yahei",monospace;}
#footer p {line-height: 50px;font-size: 12px;opacity: .6;text-shadow: 0 1px #fff;min-height: 50px;}
.contentWarp:after,.contentWarp:before,.contentWarp .section .sc_title:after,.contentWarp .section .sc_title:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}