{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">管理日志</div>
    <div class="layui-card-body">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" id="Table-Refresh">刷新</button>
            <button class="layui-btn layui-btn-sm  layui-btn-danger ajax-get confirm" url="{:url('admin/adminlog/deletelog')}">删除一个月前日志</button>
        </div>
        <table class="layui-hide" id="table"></table>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script>
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$;
    table.render({
        elem: '#table',
        url: '{:url("admin/adminlog/index")}',
        cols: [
            [
                { field: 'id', width: 80, title: 'ID', sort: true },
                { field: 'uid', width: 80, title: '用户ID' },
                { field: 'info', title: '提示' },
                { field: 'get', title: '操作URL' },
                { field: 'create_time', width: 180, title: '时间' },
                { field: 'ip', width: 100, title: 'IP' },
                { field: 'status', width: 100, title: '状态', templet: '<div>{{#  if(d.status){ }} success {{#  } else { }} <font color="#FF0000">error</font> {{#  } }} </div>' },
            ]
        ],
        page: {}
    });
    $('#Table-Refresh').on('click', function() {
        table.reload("table");
    });
});
</script>
{/block}