<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/style.css" />
</head>

<body>
	<style type="text/css">
	body{background-color: #2D2D2D}
	</style>
	<div id="mydiv">
    <div class="login-main">
        <header class="layui-elip">YZNCMS管理系统&nbsp;<span class="version">v1.0.0</span></header>
        <form class="layui-form" action="{:url('admin/login/index')}">
            <div class="layui-form-item">
                <div class="layui-input-inline input-item">
                    <label for="username">用户名</label>
                    <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="账号" class="layui-input">
                </div>
                <div class="layui-input-inline input-item">
                    <label for="password">密码</label>
                    <input type="text" name="password"  lay-verify="required"  autocomplete="off" placeholder="密码" class="layui-input">
                </div>
                <div class="layui-input-inline input-item verify-box">
                    <label for="verify">验证码</label>
                    <input type="text" name="verify" lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
                    <img id="verify" src="http://web.vip-admin.com/captcha.html" alt="验证码" onclick="this.src = this.src+'?'" class="captcha">
                </div>
                <div class="layui-input-inline login-btn">
                    <button type="button" class="layui-btn" lay-submit lay-filter="*">登录</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/login.js"></script>
    <script type="text/javascript" src="http://www.jq22.com/demo/CanvasParticles-master20160907/canvas-particle.js"></script>
</body>

</html>